<div class="col-12 col-sm-6 col-md-4 col-xxl-12 mt-2 mt-sm-0 mt-xxl-2">
    <a class="btn btn-outline-primary form-control" href="{{ path('app_inventory_search') }}">
        <i class="fas fa-filter"></i> Erweiterte Suche
    </a>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xxl-12 mt-2 mt-md-0 mt-xxl-2">
    <a class="btn btn-outline-secondary form-control" href="{{ path('app_inventory_trash') }}"><i class="fas fa-trash"></i> Papierkorb</a>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xxl-12 mt-2">
    <a class="btn btn-outline-warning form-control" href="{{ path('app_inventory_categories') }}">
        <i class="fas fa-inbox"></i> Kategorien
    </a>
</div>
