<div class="card-body p-0 overflow-auto" style="max-height: 350px">
    <ul class="list-group">
        {% for entry in log|sort((a, b) => a.timestamp < b.timestamp) -%}
            {%- embed 'list-group-item.html.twig' with {classes: ['px-3', 'py-1', 'small'], first: loop.first, last: loop.last} -%}
                {%- block content -%}
                    <span class="text-muted">{{ entry.timestamp|date() }}, {{ entry.userName ?? entry.userEmail }}:</span>
                    {% if entry.itemId != null %}
                        &#60;{{ entry.itemNumber != null ? '#' ~ entry.itemNumber : 'id::' ~ entry.itemId }}&#62;
                    {% endif %}

                    {% if entry.action.value == 'created' %}
                        [Erstellt]
                    {% elseif entry.action.value == 'changed_name' %}
                        [Aktualisiert: Name] <i>{{ entry.oldValue }}</i><i class="fas fa-sm fa-angle-right mx-2"></i><i>{{ entry.newValue }}</i>
                    {% elseif entry.action.value == 'changed_description' %}
                        [Aktualisiert: Beschreibung] <i>{{ entry.newValue|length > 100 ? entry.newValue[:100] ~ '...' : entry.newValue }}</i>
                    {% elseif entry.action.value == 'changed_owner' %}
                        [Aktualisiert: Eigentümer] <i>{{ entry.oldValue }}</i><i class="fas fa-sm fa-angle-right mx-2"></i><i>{{ entry.newValue }}</i>

                    {% elseif entry.action.value == 'changed_category' %}
                        [Aktualisiert: Kategorie] <i>{{ entry.oldValue }}</i><i class="fas fa-sm fa-angle-right mx-2"></i><i>{{ entry.newValue }}</i>
                    {% elseif entry.action.value == 'category_added' %}
                        [Kategorie hinzugefügt] <i>{{ entry.newValue }}</i>
                    {% elseif entry.action.value == 'category_removed' %}
                        [Kategorie entfernt] <i>{{ entry.newValue }}</i>

                    {% elseif entry.action.value == 'image_updated' %}
                        [Bild aktualisiert]
                    {% elseif entry.action.value == 'image_added' %}
                        [Bild hinzugefügt]
                    {% elseif entry.action.value == 'image_deleted' %}
                        [Bild entfernt]

                    {% elseif entry.action.value == 'item_added' %}
                        [Artikel hinzugefügt]
                    {% elseif entry.action.value == 'changed_borrowed' %}
                        {% if entry.oldValue is null %}
                            [Ausgeliehen] <i>{{ entry.newValue }}</i>
                        {% else %}
                            [Zurückgegeben] <i>{{ entry.oldValue }}</i>
                        {% endif %}
                    {% elseif entry.action.value == 'changed_count' %}
                        [Aktualisiert: Anzahl] <i>{{ entry.oldValue }}</i><i class="fas fa-sm fa-angle-right mx-2"></i><i>{{ entry.newValue }}</i>
                    {% elseif entry.action.value == 'changed_number' %}
                        {% if entry.oldValue is null -%}
                            [Nummer vergeben] <i>#{{ entry.newValue }}</i>
                        {% else %}
                            [Aktualisiert: Nummer] <i>#{{ entry.oldValue }}</i><i class="fas fa-sm fa-angle-right mx-2"></i><i>#{{ entry.newValue }}</i>
                        {%- endif -%}

                    {% elseif entry.action.value == 'changed_location' %}
                        [Aktualisiert: Lagerort] <i>{{ entry.oldValue }}</i><i class="fas fa-sm fa-angle-right mx-2"></i><i>{{ entry.newValue }}</i>
                    {% elseif entry.action.value == 'changed_notes' %}
                        [Aktualisiert: Notizen] <i>{{ entry.newValue|length > 100 ? entry.newValue[:100] ~ '...' : entry.newValue }}</i>
                    {% elseif entry.action.value == 'changed_defective' %}
                        [Aktualisiert: Defekt] <i>{{ entry.oldValue == 0 ? 'Defekt' : 'Nicht defekt' }}</i>
                    {% elseif entry.action.value == 'changed_missing' %}
                        [Aktualisiert: Fehlt] <i>{{ entry.oldValue == 0 ? 'Fehlt' : 'Fehlt nicht' }}</i>
                    {% elseif entry.action.value == 'changed_deleted' %}
                        {% if entry.oldValue == 0 %}
                            [Gelöscht]
                        {% else %}
                            [Wiederhergestellt]
                        {% endif %}
                    {% else %}
                        [{{ entry.action.value|upper }}]
                        {% if entry.oldValue is not null -%}
                            <i>{{ entry.oldValue }}</i>
                        {%- endif -%}
                        {%- if entry.newValue is not null -%}
                            <i class="fas fa-sm fa-angle-right mx-2"></i><i>{{ entry.newValue }}</i>
                        {%- endif %}
                    {% endif %}
                {%- endblock -%}
            {%- endembed -%}
        {% endfor %}
    </ul>
</div>
