{% extends 'base_sidebar.html.twig' %}

{% block title %}Inventar: Suche{% endblock %}

{% set sidebar_parent = {
    route: 'app_inventory',
    label: 'Suche',
} %}

{% block body %}
    {{ include('inventory/_title.html.twig', {title: 'Inventar durchsuchen', show_search: 'false'}) }}
    <div class="row">
        <div class="col-12 col-xxl-3 order-xxl-last mb-2">
            <div class="card">
                <div class="card-header">
                    <strong>Suche</strong>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.find) }}
                    <div class="mb-3">
                        {{ form_label(form.categories) }}
                        {{ form_widget(form.categories, {selectpicker: true}) }}
                        {{ form_help(form.categories) }}
                    </div>
                    {{ form_row(form.submit) }}
                    {{ form_end(form, {render_rest: false}) }}
                </div>
            </div>
        </div>
        <div class="col-12 col-xxl-9">
            <div class="card">
                <div class="card-header">
                    <strong>Ergebnisse</strong>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group">
                        {% for type in types %}
                            {% embed 'list-group-item.html.twig' with {classes: ['list-group-item-action'], first: loop.first, last: loop.last} %}
                                {% block content %}
                                    <a class="stretched-link no-underline" href="{{ path('app_inventory_type', {type: type.id}) }}">{{ type.name }}</a>
                                {% endblock %}
                            {% endembed %}
                        {% else %}
                            {% embed 'list-group-item.html.twig' with {first: true, last: true} %}
                                {% block content %}
                                    <i>Keine Ergebnisse gefunden...</i>
                                {% endblock %}
                            {% endembed %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('inventory/scan') }}
{% endblock %}
