{% extends 'base_sidebar.html.twig' %}
{% block title %}Inventar: Papierkorb{% endblock %}

{% set sidebar_parent = {
    route: 'app_inventory',
    label: 'Papierkorb',
} %}

{% block body %}
    {{ include('inventory/_title.html.twig') }}
    <div class="row">
        <div class="col-12 col-xxl-3 order-xxl-last mb-2">
            <div class="card">
                <div class="card-header">
                    <strong>Aktionen</strong>
                </div>
                <div class="card-body pt-2">
                    {{ include('inventory/_actions.html.twig') }}
                </div>
            </div>
        </div>
        <div class="col-12 col-xxl-9">
            <div class="card">
                <div class="card-header">
                    <strong>Papierkorb</strong>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group">
                        {% for type in types %}
                            {% embed 'list-group-item.html.twig' with {classes: ['list-group-item-action'], first: loop.first, last: loop.last} %}
                                {% block content %}
                                    <span class="badge rounded-pill bg-secondary mr-2">{{ type.count|default(0) }}</span>
                                    <a class="stretched-link no-underline"
                                       href="{{ path('app_inventory_type', {type: type.id, showDeleted: true}) }}">{{ type.name }}</a>
                                {% endblock %}
                            {% endembed %}
                        {% else %}
                            {% embed 'list-group-item.html.twig' with {first: true, last: true} %}
                                {% block content %}
                                    <i>Leer...</i>
                                {% endblock %}
                            {% endembed %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('inventory/scan') }}
{% endblock %}
