{% extends 'base.html.twig' %}

{% block title %}{% trans %}account.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="jumbotron mt-3">
        <h3>{% trans %}account.title{% endtrans %}</h3>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(form.email) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(form.password) }}
            </div>
            <div class="col-12 col-md-6">
                {{ form_row(form.passwordConfirm) }}
            </div>
        </div>
        {{ form_row(form.submit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
