{% extends 'base.html.twig' %}

{% block title %}Backstage Login{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="mx-3 mx-md-0">
                {% if error %}
                    <div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="card mt-3">
                    <div class="card-header">
                        {% trans %} index.login {% endtrans %}
                        <div class="float-end">
                            <a class="text-muted hover-underline" href="{{ path('app_register') }}">
                                <i class="fas fa-sign-in-alt"></i> {% trans %} index.register {% endtrans %}
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" class="needs-validation" role="form">
                            <div class="mb-3">
                                <label class="form-label" for="username">{% trans %} form.email {% endtrans %}</label>
                                <input type="email" id="username" name="_username" pattern="{{ constant('App\\System\\Application\\ConfigService::EMAIL_REGEX') }}" class="form-control" value="{{ email }}" required autofocus>
                                <div class="invalid-feedback">{% trans %} email.invalid {% endtrans %}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">{% trans %} form.password {% endtrans %}</label>
                                <input type="password" id="password" name="_password" class="form-control" required>
                                <div class="invalid-feedback">{% trans %} password.invalid {% endtrans %}</div>
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">{% trans %} index.login {% endtrans %}</button>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" checked>
                                <label class="form-check-label" for="remember_me">{% trans %} login.remember {% endtrans %}</label>
                            </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </form>
                        <br>
                        <a href="{{ path('app_reset') }}">{% trans %} password.forgot {% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
