{% extends 'base.html.twig' %}

{% block title %}Backstage Login{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 col-md-6 mx-auto">
            <div class="mx-3 mx-md-0">
                <div class="card mt-3">
                    <div class="card-header">
                        {% trans %} index.register {% endtrans %}
                        <div class="float-end">
                            <a class="text-muted hover-underline" href="{{ path('app_login') }}">
                                <i class="fas fa-sign-in-alt"></i> {% trans %} index.login {% endtrans %}
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_row(form.email, {'attr': {'pattern':  constant('App\\System\\Application\\ConfigService::EMAIL_REGEX') }}) }}
                        {{ form_row(form.password) }}
                        {{ form_row(form.passwordConfirm) }}
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="{{ form.termsAccepted.vars.id }}"
                                   name="{{ form.termsAccepted.vars.full_name }}" required>
                            <label class="form-check-label required" for="{{ form.termsAccepted.vars.id }}">
                                {{ 'register.privacy'|trans({
                                    '<a>': '<a href="https://trafficjam.de/datenschutz/" target="_blank" rel="noopener noreferrer">'
                                })|raw }}
                            </label>
                        </div>
                        {{ form_row(form._token) }}
                        <button name="registerSubmit" class="btn btn-primary" type="submit">{% trans %} index.register {% endtrans %}</button>
                        {{ form_end(form, {render_rest: false}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
