<div class="modal fade" id="modal-borrow" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <h5 class="modal-title"><span id="item_borrow_form_name"></span> ausleihen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                <div class="position-absolute top-0 end-0 p-3" style="z-index: 1080">
                    <div class="toast align-items-center bg-warning border-0" role="alert" id="item_borrow_form_toast">
                        <div class="d-flex">
                            <div class="toast-body">Für wen soll dieser Artikel ausgeliehen werden?</div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                {{ form_row(form.self) }}
                {{ form_row(form.for) }}
                {{ form_row(form.count) }}
                {{ form_row(form.notes) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
