<div class="modal fade" id="modal-image-delete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Bild unwiderruflich löschen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Achtung! Kann nicht rückgängig gemacht werden.</p>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                <a class="btn btn-danger" id="item_action_image_delete">Bild Löschen</a>
            </div>
        </div>
    </div>
</div>
