<div class="modal fade" id="modal-item-type" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ form_start(form, {action: action}) }}
            <div class="modal-header">
                <h5 class="modal-title">{{ form.vars.value.id == null ? 'Neues Objekt anlegen' : 'Objekt bearbeiten' }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
                {{ form_row(form.owner) }}
                <div>
                    {{ form_label(form.categories) }}
                    {{ form_widget(form.categories, {selectpicker: true}) }}
                    {{ form_help(form.categories) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                {{ form_widget(form.submit) }}
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
</div>
