<div class="modal fade" id="modal-item" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ form_start(form, {action: action}) }}
            <div class="modal-header">
                <h5 class="modal-title"><span id="item_form_header"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    {{ form_label(form.number) }}
                    {%- if is_granted('inventory.edit.number') -%}
                        <button type="button" class="btn btn-link btn-sm text-muted float-end" id="item_form_number_toggle">
                            <i class="fas fa-pen"></i>
                        </button>
                    {%- endif -%}
                    {{ form_widget(form.number) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.count) }}
                    {{ form_widget(form.count, {attr: {value: form.count.vars.data ?? 1}}) }}
                </div>
                {{ form_row(form.location) }}
                {{ form_row(form.notes) }}
                {{ form_row(form.defective) }}
                {{ form_row(form.missing) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                {{ form_widget(form.submit) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
