<div class="modal fade" id="modal-location" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            {{ form_start(form) }}
            <div class="modal-header">
                <h5 class="modal-title">{{ form.vars.value.id == null ? 'Neuen Ort anlegen' : 'Ort bearbeiten' }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ form_row(form.name) }}
                {{ form_row(form.description) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                {% if form.vars.value.id != null %}
                    {{ form_widget(form.delete, {attr: {class: 'btn-danger'}}) }}
                {% endif %}
                {{ form_widget(form.submit) }}
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
</div>
