{% extends 'base_sidebar.html.twig' %}

{% block title %}Inventar: {{ location.name }}{% endblock %}

{% set sidebar_parent = {
    route: 'app_inventory',
    label: location.name,
} %}

{% block body %}
    {{ include('inventory/_title.html.twig') }}
    <div class="row">
        <div class="col-12 col-xxl-3 order-xxl-last mb-2">
            <div class="card">
                <div class="card-header">
                    <strong>{{ location.name }}</strong>
                </div>
                <div class="card-body">
                    {% if location.description is not null %}
                        {{ location.description|nl2br }}
                    {% else %}
                        <i>Noch keine Beschreibung...</i>
                    {% endif %}

                    <hr>

                    {{ include('inventory/_actions.html.twig') }}
                    {% if is_granted('inventory.edit') %}
                        <div class="col-12 col-md-6 col-lg-4 col-xxl-12 mt-2 mt-lg-0 mt-xxl-2">
                            <button type="button" class="btn btn-outline-info form-control" data-bs-toggle="modal" data-bs-target="#modal-location">
                                <i class="fas fa-pen"></i> Ort bearbeiten
                            </button>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4 col-xxl-12 mt-2 mt-lg-0 mt-xxl-2">
                            <button type="button" class="btn btn-outline-success form-control" data-bs-toggle="modal" data-bs-target="#modal-item-type">
                                <i class="fas fa-boxes"></i> Neues Objekt hier anlegen
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-12 col-xxl-9">
            <div class="card">
                <div class="card-header">
                    <strong>{{ location.name }}: Objekte</strong>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group">
                        {% for type in types %}
                            {% embed 'list-group-item.html.twig' with {classes: ['list-group-item-action'], first: loop.first, last: loop.last} %}
                                {% block content %}
                                    <span class="badge rounded-pill bg-secondary mr-2">{{ type.count }}</span>
                                    <a class="stretched-link no-underline" href="{{ path('app_inventory_type', {type: type.id}) }}">{{ type.name }}</a>
                                {% endblock %}
                            {% endembed %}
                        {% else %}
                            {% embed 'list-group-item.html.twig' with {first: true, last: not is_granted('inventory.edit')} %}
                                {% block content %}
                                    <i>Hier ist noch nichts...</i>
                                {% endblock %}
                            {% endembed %}
                            {% if is_granted('inventory.edit') %}
                                {% embed 'list-group-item.html.twig' with {last: true} %}
                                    {% block content %}
                                        <button type="button" class="btn btn-sm btn btn-outline-success" data-bs-toggle="modal"
                                                data-bs-target="#modal-item-type">
                                            <i class="fas fa-boxes"></i> Neues Objekt hier anlegen
                                        </button>
                                    {% endblock %}
                                {% endembed %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include 'inventory/item/modal/_item_type_modal.html.twig' with {form: new_item_form, action: path('app_inventory_type_new')} %}
    {% include 'inventory/location/_location_modal.html.twig' with {form: edit_form} %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('inventory/scan') }}
{% endblock %}
