{%- if item.borrowedBy is not null -%}
    <span class="badge {{ item.borrowedBy == app.user ? 'bg-success' : 'bg-warning' }} me-2">
        Ausgeliehen: {{ item.borrowedFor ?? item.borrowedBy.getDisplayName }}
    </span>
{%- else -%}
    <span class="badge bg-info me-2">Lagernd</span>
{%- endif -%}
{%- if item.defective -%}
    <span class="badge bg-warning me-2">Defekt</span>
{%- endif -%}
{%- if item.missing -%}
    <span class="badge bg-warning me-2">Fehlt</span>
{%- endif -%}
{%- if item.deleted -%}
    <span class="badge bg-danger me-2">Gelöscht</span>
{%- endif -%}