<template>
  <div ref="modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <strong class="modal-title">Gruppe "{{ group_name }}" löschen</strong>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Willst du die Gruppe wirklich löschen?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
          <button type="button" class="btn btn-danger" :disabled="loading" @click="execute()">
            <i class="fas fa-trash"></i> Löschen
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {del} from '../api';

export default {
  name: 'delete-modal',

  data() {
    return {
      modal: null,        // the bootstrap modal
      group: null,        // group id
      group_name: null,   // group name
      loading: false      // set to true to disable the button
    }
  },

  mounted() {
    this.modal = new bootstrap.Modal(this.$refs.modal);
  },

  methods: {
    /**
     * Opens the modal dialog
     *
     * @param group the group to show
     */
    show(group) {
      this.group = group.id;
      this.group_name = group.name;
      this.modal.show();
    },

    /**
     * Deletes the group and closes the modal
     */
    execute() {
      this.loading = true;
      del('admin/groups/' + this.group)
          .then(() => {
            this.loading = false;
            this.$emit('delete:group', this.group)
            this.modal.hide();
          })
          .catch(() => {
            this.loading = false;
          });
    }
  }
}
</script>
