<template>
  <div ref="modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <strong class="modal-title">Gruppe "{{ group_name }}"</strong>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <label for="modal-group-input">Name:</label>
          <input type="text" class="form-control mb-2" id="modal-group-input" v-model="group_name"/>
          <label for="modal-group-select">Erbt von:</label>
          <select class="form-control mb-3" id="modal-group-select" v-model.number="parent">
            <option :value="null"></option>
            <option v-for="g in otherGroups" :key="g.id" :value="g.id">{{ g.name }}</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
          <button type="button" class="btn btn-primary" @click="save()" :disabled="loading">Speichern</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {post, put} from '../api';

export default {
  name: 'group-modal',

  props: {
    groups: {             // all groups
      type: Array,
      default: []
    }
  },

  data() {
    return {
      modal: null,        // the bootstrap modal
      group: null,        // group id
      group_name: null,   // group name
      parent: null,       // parent id
      loading: false      // set to true to disable buttons
    }
  },

  computed: {
    otherGroups: function () {
      return this.groups.filter(g => g.id !== this.group);
    }
  },

  mounted() {
    this.modal = new bootstrap.Modal(this.$refs.modal);
  },

  methods: {
    /**
     * Opens the modal dialog
     *
     * @param group the group to show or null for a new group
     */
    show(group) {
      if (group === null) {
        this.group = null;
        this.group_name = 'Neue Gruppe';
        this.parent = null;
      } else {
        this.group = group.id;
        this.group_name = group.name;
        this.parent = group.parent_id;
      }
      this.modal.show();
    },

    /**
     * Saves the settings for the current group and closes the modal
     */
    save() {
      this.loading = true;
      if (this.group === null) {
        post('admin/groups', {
          name: this.group_name,
          parent: this.parent
        }).then(id => {
          this.group = id;
          this.$emit('new:group', {
            id: this.group,
            name: this.group_name,
            parent: this.parent
          });
          this.modal.hide();
        }).finally(() => {
          this.loading = false;
        });
      } else {
        put('admin/groups/' + this.group, {
          name: this.group_name,
          parent: this.parent
        }).then(() => {
          this.$emit('update:group', {
            id: this.group,
            name: this.group_name,
            parent: this.parent
          });
          this.modal.hide();
        }).finally(() => {
          this.loading = false;
        });
      }
    }
  }
}
</script>
