<template>
  <div class="card mt-3">
    <div class="card-header">
      Alle Gruppen
      <button class="btn btn-sm btn-outline-success float-end" type="button" @click="openGroupModal(null)">
        <i class="fas fa-plus-circle"></i> Neue Gruppe
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-sm">
          <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th colspan="2">Erbt von</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="group in groups" :key="group.id">
            <td>{{ group.id }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.parent_name }}</td>
            <td class="text-right">
              <button class="btn btn-link btn-sm" type="button" @click="openGroupModal(group)">
                <i class="fas fa-pen"></i>
              </button>
              <button class="btn btn-link btn-sm" type="button" @click="openPermissionsModal(group)">
                <i class="fas fa-list"></i>
              </button>
              <button class="btn btn-link btn-sm" type="button" @click="openDeleteModal(group)">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <group-modal ref="gm" :groups="groups" @update:group="updateGroup($event)" @new:group="newGroup($event)"></group-modal>
    <permissions-modal ref="pm"></permissions-modal>
    <delete-modal ref="dm" @delete:group="delGroup($event)"></delete-modal>
  </div>
</template>

<script>
import GroupModal from "./group-modal";
import PermissionsModal from "./permissions-modal";
import DeleteModal from "./delete-modal";

export default {
  name: 'groups-table',

  components: {
    GroupModal,
    PermissionsModal,
    DeleteModal
  },

  props: {
    def: {
      type: String,
      default: '[]'
    }
  },

  data() {
    return {
      groups: []
    }
  },

  mounted() {
    this.groups = JSON.parse(this.def);
  },

  methods: {
    openGroupModal(group) {
      this.$refs.gm.show(group);
    },
    openPermissionsModal(group) {
      this.$refs.pm.show(group);
    },
    openDeleteModal(group) {
      this.$refs.dm.show(group);
    },

    /**
     * Updates the given group with new values
     *
     * @param event the event from the group-modal
     */
    updateGroup(event) {
      this.groups.map(g => {
        if (g.id !== event.id)
          return g;
        g.name = event.name;
        g.parent_id = event.parent;
        g.parent_name = this.groups.find(g => g.id === event.parent)?.name;
        return g;
      });
    },

    /**
     * Adds a new group to the list of groups
     *
     * @param event the event from the group-modal
     */
    newGroup(event) {
      this.groups.push({
        id: event.id,
        name: event.name,
        parent_id: event.parent_id,
        parent_name: this.groups.find(g => g.id === event.parent)?.name
      });
    },

    /**
     * Deletes the group from the list of groups
     *
     * @param event the event from the delete-modal
     */
    delGroup(event) {
      this.groups = this.groups.filter(g => g.id !== event)
    }
  }
}
</script>
