<template>
  <div class="card">
    <div class="card-header">
      <strong>Gruppen</strong>
      <button class="btn btn-link float-end p-0" type="button" @click="show()">
        <i class="fas fa-users-cog text-info"></i>
      </button>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" v-for="inh in inheritances" :key="inh.id">
        {{ inh.name }}
      </li>
    </ul>

    <div ref="modal" class="modal fade" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <strong class="modal-title">Gruppen von <span id="modal-inheritance-title"></span></strong>
          </div>
          <div class="modal-body">
            <div class="form-check" v-for="group in groups" :key="group.id">
              <input class="form-check-input" type="checkbox" :id="'inh-' + group.id" :disabled="loading" @change="select(group, $event.target.checked)"
                     :checked="inheritances.find(inh => inh.id === group.id)">
              <label class="form-check-label" :for="'inh-' + group.id">{{ group.name }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {del, put} from '../api';

export default {
  name: 'inheritance-list',

  props: {
    user: {
      type: String,
      required: true
    },
    defInh: {
      type: String,
      default: '[]'
    },
    defGroups: {
      type: String,
      default: '[]'
    }
  },

  data() {
    return {
      modal: null,        // the bootstrap modal
      inheritances: [],   // groups of the users
      groups: [],         // all groups
      loading: false      // set to true to disable buttons
    }
  },

  mounted() {
    this.modal = new bootstrap.Modal(this.$refs.modal);
    this.inheritances = JSON.parse(this.defInh);
    this.groups = JSON.parse(this.defGroups);
  },

  methods: {
    show() {
      this.modal.show();
    },

    select(group, checked) {
      this.loading = true;
      const groupMember = {
        user: parseInt(this.user),
        group: group.id
      }
      if (checked) {
        put('admin/usergroups', groupMember)
            .then(() => {
              this.inheritances.push(group);
              this.loading = false;
            })
            .finally(() => {
              this.loading = false;
            });
      } else {
        del('admin/usergroups', groupMember)
            .then(() => {
              this.inheritances = this.inheritances.filter(inh => inh.id !== group.id);
              this.loading = false;
            })
            .finally(() => {
              this.loading = false;
            });
      }
    }
  }
}
</script>
