<template>
  <div ref="modal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <strong class="modal-title">Permissions der Gruppe "{{ group_name }}"</strong>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body px-0">
          <ul class="list-group">
            <li v-for="permission in permissions[group]" :key="permission" class="list-group-item">
              <code>{{ permission }}</code>
              <button class="btn btn-light btn-sm float-end" type="button" @click="delPermission(permission)" :disabled="loading">
                <i class="fas fa-minus-circle text-danger"></i>
              </button>
            </li>
            <li class="list-group-item">
              <input type="text" v-model="newPermission">
              <button class="btn btn-light btn-sm float-end" type="button" @click="addPermission" :disabled="loading || !newPermission">
                <i class="fas fa-plus-circle text-success"></i>
              </button>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {del, get, put} from '../api';

export default {
  name: 'permissions-modal',

  data() {
    return {
      modal: null,          // the bootstrap modal
      group: null,          // group id
      group_name: null,     // group name
      permissions: {},      // cache of all groups and their permissions
      newPermission: '',    // new permission to add
      loading: false        // set to true to disable buttons
    }
  },

  mounted() {
    this.modal = new bootstrap.Modal(this.$refs.modal);
  },

  methods: {
    /**
     * Opens the modal dialog and loads the permissions of the group if necessary
     *
     * @param group the group to show
     */
    show(group) {
      this.group = group.id;
      this.group_name = group.name;
      this.newPermission = '';
      // load permissions lazily
      if (!this.permissions.hasOwnProperty(this.group)) {
        get('admin/permissions/' + this.group).then(permissions => {
          // use vm.$set method because vue cannot keep track of object properties
          this.$set(this.permissions, this.group, permissions);
        });
      }
      this.modal.show();
    },

    /**
     * Adds a permission to the current group
     */
    addPermission() {
      this.loading = true;
      put('admin/permissions', {
        group: this.group,
        permission: this.newPermission
      }).then(() => {
        this.permissions[this.group].push(this.newPermission);
        this.permissions[this.group].sort();
        this.newPermission = '';
        this.loading = false;
      }).catch(() => {
        this.loading = false;
      });
    },

    /**
     * Deletes a permission from the current group
     *
     * @param permission the permission to delete
     */
    delPermission(permission) {
      this.loading = true;
      del('admin/permissions', {
        group: this.group,
        permission: permission
      }).then(() => {
        this.$set(this.permissions, this.group, this.permissions[this.group].filter(p => p !== permission));
        this.loading = false;
      }).catch(() => {
        this.loading = false;
      });
    }
  }
}
</script>
