<template>
  <div>
    <form v-if="showSearch" action="/inventory/search" method="GET">
      <div class="input-group">
        <input type="search" class="form-control" style="max-width: 200px" placeholder="Suche" name="search_form[find]">
        <button type="submit" class="btn btn-outline-secondary" name="search_form[submit]"><i class="fas fa-search"></i></button>
        <button type="button" class="btn btn-outline-secondary" @click="show"><i class="fas fa-qrcode"></i></button>
      </div>
    </form>
    <button v-else type="button" class="btn btn-outline-secondary" @click="show"><i class="fas fa-qrcode"></i></button>

    <div ref="modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-lg-down">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Scanne QR Code</h5>
            <button type="button" class="btn btn-link py-0 float-end" v-if="scanner == null" @click="tryStartScanner">
              <i class="fas fa-qrcode"></i>
            </button>

            <div class="position-absolute top-0 end-0 p-3" style="z-index: 1080">
              <div ref="toast" class="toast align-items-center bg-danger border-0" role="alert">
                <div class="d-flex">
                  <div class="toast-body">{{ toastMessage }}</div>
                  <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-body">
            <video class="img-fluid d-none" style="max-height: 100%" ref="video"></video>
            <div class="input-group">
              <input type="number" class="form-control" placeholder="Inventarnummer" v-model="number" v-on:keydown.enter="searchItem" :disabled="searching">
              <button class="btn btn-outline-secondary" type="button" @click="searchItem">
                <i ref="icon" :class="searchIconClassList"></i>
              </button>
            </div>

            <div v-if="currentItem != null" class="mt-3">
              <hr>
              <div class="mb-3">
                <a :href="currentItem.link" class="me-3"><strong>{{ currentItem.displayName }}</strong></a>
                ({{ currentItem.location }})
              </div>
              <div class="mb-3">
                <span v-if="currentItem.borrowed == null" class="badge bg-info me-2">Lagernd</span>
                <span v-else-if="currentItem.borrowed.by === user" class="badge bg-success me-2">Ausgeliehen: {{ currentItem.borrowed.byName }}</span>
                <span v-else class="badge bg-warning me-2">Ausgeliehen: {{ currentItem.borrowed.byName }}</span>
                <span v-if="currentItem.defective" class="badge bg-warning me-2">Defekt</span>
                <span v-if="currentItem.missing" class="badge bg-warning me-2">Fehlt</span>
                <span v-if="currentItem.deleted" class="badge bg-danger me-2">Gelöscht</span>
              </div>
              <div v-if="canBorrow && currentItem.borrowed == null && !currentItem.deleted" class="mb-3">
                <div class="form-check mb-3">
                  <input ref="borrowSelf" class="form-check-input" type="checkbox" v-model="borrowSelf" id="borrow_self">
                  <label for="borrow_self">Für mich selbst ausleihen</label>
                </div>
                <label>Ausleihen für:</label>
                <input type="text" class="form-control" v-model="borrowFor" :disabled="borrowSelf">
              </div>
              <div class="mb-3">
                <label>Notizen:</label>
                <textarea v-if="canBorrow && !currentItem.deleted && (currentItem.borrowed == null || currentItem.borrowed.by === user || canReturnOther)"
                          class="form-control" rows="4" v-model="currentItem.notes"></textarea>
                <nl2br v-else-if="currentItem.notes != null" tag="p" :text="currentItem.notes"></nl2br>
                <i v-else>Keine</i>
              </div>
              <div v-if="canBorrow && !currentItem.deleted">
                <button v-if="currentItem.borrowed == null" class="btn btn-success" @click="borrowItem">
                  <i class="fas fa-sign-out-alt"></i> Ausleihen
                </button>
                <button v-else-if="currentItem.borrowed.by === user" class="btn btn-success" @click="returnItem">
                  <i class="fas fa-sign-in-alt"></i> Zurückgeben
                </button>
                <button v-else-if="canReturnOther" class="btn btn-warning" @click="returnItem">
                  <i class="fas fa-sign-in-alt"></i> Zurückgeben
                </button>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="hide">Abbrechen</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import QrScanner from 'qr-scanner';
import {get, post} from '../api';
import Nl2br from 'vue-nl2br';

export default {
  name: 'item-scanner',

  components: {
    Nl2br
  },

  props: {
    user: {
      type: Number,
      required: true
    },
    canBorrow: {
      type: Boolean,
      default: false
    },
    canReturnOther: {
      type: Boolean,
      default: false
    },
    showSearch: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      modal: null,        // the bootstrap modal
      toast: null,        // the bootstrap toast
      toastMessage: '',
      number: null,       // current number being searched
      items: {},          // item cache
      scanner: null,
      searching: false,   // true if we are currently searching
      currentItem: null,  // the item to display

      borrowSelf: false,  // borrow data
      borrowFor: null
    }
  },

  computed: {
    searchIconClassList: function () {
      return this.searching ? 'fas fa-spin fa-spinner' : 'fas fa-search';
    }
  },

  mounted() {
    this.modal = bootstrap.Modal.getOrCreateInstance(this.$refs.modal);
    this.toast = bootstrap.Toast.getOrCreateInstance(this.$refs.toast);
  },

  methods: {
    /**
     * Opens the modal and starts the scanning process
     */
    show() {
      this.modal.show();
      this.tryStartScanner();
    },

    /**
     * Stops the scanning and closes the modal
     */
    hide() {
      this.stopScanner();
      this.modal.hide();
    },

    /**
     * Tries to start the scanner
     */
    tryStartScanner(showError = true) {
      QrScanner.hasCamera()
          .then(hasCamera => {
            if (!hasCamera) {
              if (showError) {
                this.toastMessage = 'Keine Kamera gefunden!';
                this.toast.show();
              }
              return;
            }

            this.startScanner();
          });
    },

    /**
     * Starts the scanning process
     */
    startScanner() {
      if (this.scanner != null)
        return;

      function isInt(value) {
        return !isNaN(value) && parseInt(Number(value)) == value && !isNaN(parseInt(value, 10));
      }

      this.$refs.video.classList.remove('d-none');
      this.scanner = new QrScanner(
          this.$refs.video,
          result => {
            // check if data is an integer
            if (!isInt(result.data)) {
              this.toastMessage = `${result.data}: Keine gültige Inventarnummer.`;
              this.toast.show();
              return;
            }
            // search for item now
            this.number = parseInt(result.data);
            this.searchItem();
          },
          {
            highlightScanRegion: true,
            highlightCodeOutline: false,
            returnDetailedScanResult: true
          }
      );
      this.scanner.start();
    },

    /**
     * Stops the scanning
     */
    stopScanner() {
      if (this.scanner == null)
        return;
      this.$refs.video.classList.add('d-none');
      this.scanner.stop();
      this.scanner.destroy();
      this.scanner = null;
    },

    /**
     * Shows the error toast and resumes the scanner if it is loaded
     */
    itemNotFound() {
      // save timestamp to mark item does not exist
      this.items[this.number] = Date.now();
      this.toastMessage = `${this.number}: Kein Artikel mit dieser Nummer gefunden.`;
      this.toast.show();
      // resume scanner
      if (this.scanner != null)
        this.scanner.start();
    },

    /**
     * Searches for an item with the current number.
     * Pauses the scanner while searching and resumes if no item was found.
     */
    searchItem() {
      if (this.number == null || this.number === '')
        return;

      // pause scanner
      if (this.scanner != null)
        this.scanner.pause();

      // check if item was already searched for
      if (this.number in this.items) {
        // if this is a number, the item does not exist
        if (typeof this.items[this.number] === 'number') {
          // don't search again if info is less than 10 seconds old
          if (Date.now() - this.items[this.number] <= 10 * 1000) {
            this.itemNotFound();
            return;
          }
        } else {
          // use cached item if it was scanned in the last 10 seconds
          if (Date.now() - this.items[this.number]['updatedAt'] <= 10 * 1000) {
            this.stopScanner();
            this.currentItem = this.items[this.number];
            return;
          }
        }
      }

      // search for item
      this.searching = true;
      get('inventory/item-by-number/' + this.number)
          // valid result: stop scanning, cache and show item
          .then(result => {
            this.stopScanner();
            this.items[this.number] = result;
            // set scan time to now
            this.items[this.number]['updatedAt'] = Date.now();
            this.currentItem = this.items[this.number];
          })
          // item not found: resume scanning
          .catch(this.itemNotFound)
          .finally(() => {
            this.searching = false;
          });
    },

    /**
     * Borrows an item. Deletes the item from the cache if successful.
     */
    borrowItem() {
      if (this.currentItem == null)
        return;

      if (!this.borrowSelf && (this.borrowFor == null || /^\s*$/.test(this.borrowFor))) {
        this.toastMessage = 'Für wen soll dieser Artikel ausgeliehen werden?'
        this.toast.show();
        this.$refs.borrowSelf.focus();
        return;
      }

      post('inventory/item/borrow/' + this.currentItem.id, {
        'for': this.borrowSelf ? null : this.borrowFor,
        'notes': this.currentItem.notes
      }).then(() => {
        this.tryStartScanner(false);
      }).finally(() => {
        this.$delete(this.items, this.currentItem.number);
        this.currentItem = null;
        this.number = null;
      });
    },

    /**
     * Returns an item. Deletes the item from the cache if successful.
     */
    returnItem() {
      if (this.currentItem == null)
        return;

      post('inventory/item/return/' + this.currentItem.id, {
        'notes': this.currentItem.notes
      }).then(() => {
        this.tryStartScanner(false);
      }).finally(() => {
        this.$delete(this.items, this.currentItem.number);
        this.currentItem = null;
        this.number = null;
      });
    }
  }
}
</script>