{% extends 'base.html.twig' %}

{% macro socialmedia(type, value, icon) %}
    <a class="text-decoration-none p-1" href="#" target="_blank" rel="noopener noreferrer" data-socialmedia="{{ type }}"
       data-value="{{ value }}"><i class="{{ icon }}"></i></a>
{% endmacro %}

{% macro score(score, format = '%.2f') %}
    {%- if score == null -%}
        <span data-format="{{ format }}" data-score="0">-</span>
    {%- else -%}
        <span data-format="{{ format }}" data-score="{{ score|round }}">{{ format|format(score) }}</span>
    {%- endif -%}
{% endmacro %}

{% import _self as self %}

{% block title %}Band Bewerbungen {{ festival.start|date('Y') }}{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {
        current: 'Bewerbungen für ' ~ festival.start|date('Y')
    } %}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <strong>Statistiken</strong>
        </div>
        <div class="card-body container p-1">
            <div class="row">
                <div class="col-12 col-md-6 pe-md-1">
                    <ul class="list-group">
                        <li class="list-group-item px-3 py-2">
                            <span>Insgesamt bewertete Bands:</span>
                            <strong class="float-end">{{ total_scores }} / {{ application_count }}</strong>
                            {% set total_percent = (total_scores / max(application_count, 1) * 100)|round %}
                            {% set bg = total_percent < 20 ? 'bg-danger' : total_percent < 80 ? 'bg-warning' : 'bg-success' %}
                            <div class="progress mt-1">
                                <div class="progress-bar progress-bar-striped {{ bg }}"
                                     style="width: {{ total_percent }}%">{{ total_percent }}%
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item px-3 py-2">
                            <span>Selbst bewertete Bands:</span>
                            <strong class="float-end">{{ user_scores }} / {{ application_count }}</strong>
                            {% set user_percent = (user_scores / max(application_count, 1) * 100)|round %}
                            {% set bg = user_percent < 20 ? 'bg-danger' : user_percent < 80 ? 'bg-warning' : 'bg-success' %}
                            <div class="progress mt-1">
                                <div class="progress-bar progress-bar-striped {{ bg }}"
                                     style="width: {{ user_percent }}%">{{ user_percent }}%
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-md-6 pt-2 pt-md-0 ps-md-1">
                    <div style="max-height: 180px; overflow-y: scroll">
                        <ul class="list-group">
                            <li class="list-group-item px-3 py-2" style="position: sticky; top: 0; z-index: 1">
                                <strong>Meiste Bewertungen:</strong>
                            </li>
                            {% for user in most_scores %}
                                <li class="list-group-item d-flex justify-content-between align-items-center px-3 py-1">
                                    {{ user.name ?? user.email }}
                                    <span class="badge bg-info rounded-pill">{{ user.count }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <form class="mb-0">
                <div class="row">
                    <div class="col-12 col-md-6 me-auto">
                        <strong class="align-middle">Alle Bewerbungen für {{ festival.start|date('Y') }}</strong>
                        {% if festivals | length > 0 %}
                            <small class="align-middle text-muted ms-2">
                                (
                                {%- for f in festivals -%}
                                    <a class="text-muted hover-underline"
                                       href="{{ path('app_band_applications', {festival: f.id}) }}">{{ f.start|date('Y') }}</a>
                                    {%- if not loop.last %}, {% endif -%}
                                {%- endfor -%}
                                )
                            </small>
                        {% endif %}
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mt-2 mt-md-0 pe-sm-1">
                        <select class="form-control selectpicker" name="genres[]" data-live-search="true" data-title="Genre"
                                data-style-base="form-control form-control-sm" data-style="input-group-btn input-group-sm"
                                multiple="multiple">
                            {% for g in all_genres %}
                                <option value="{{ g.id }}" {% if g.id in genres %} selected {% endif %}>{{ g.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mt-2 mt-md-0 ps-sm-1">
                        <div class="input-group input-group-sm">
                            <input class="form-control" type="search" name="name" placeholder="Suche" value="{{ name }}">
                            <button type="submit" class="btn btn-outline-secondary"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card-body p-0 pt-1">
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th class="sortable {% if sort == 'favorite' %} {{ order|lower }} {% endif %}" data-sort="favorite"
                            style="min-width: 40px; width: 40px" scope="col">
                            <i class="far fa-star"></i>
                        </th>
                        <th class="sortable {%- if sort == 'name' %} {{ order|lower }} {%- endif %}" data-sort="name"
                            style="min-width: 100px" scope="col">Name
                        </th>
                        <th style="min-width: 100px" scope="col">Genres</th>
                        <th style="min-width: 180px" scope="col">Social Media</th>
                        <th class="sortable {%- if sort == 'score' %} {{ order|lower }} {%- endif %}" data-sort="score"
                            style="min-width: 100px" scope="col">Note
                        </th>
                        <th class="sortable {%- if sort == 'total' %} {{ order|lower }} {%- endif %}" data-sort="total"
                            style="min-width: 100px" scope="col">Gesamt
                        </th>
                        <th>
                            <a class="float-end me-2" href="{{ path('app_band_application_random', {festival: festival.id}) }}">
                                <i class="fas fa-random"></i>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for app in applications %}
                        <tr data-application="{{ app.id }}">
                            <td>{% if app.favorite != null %}<i class="fas fa-star text-warning"></i>{% endif %}</td>
                            <td>{{ app.name }}</td>
                            <td>
                                {% for genre in app.genres %}
                                    <span class="badge bg-secondary">{{ genre.name }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                {% if app.website is not null %}
                                    {{ self.socialmedia('website', app.website, 'fas fa-link') }}
                                {% endif %}
                                {% if app.facebook is not null %}
                                    {{ self.socialmedia('facebook', app.facebook, 'fab fa-facebook') }}
                                {% endif %}
                                {% if app.instagram is not null %}
                                    {{ self.socialmedia('instagram', app.instagram, 'fab fa-instagram') }}
                                {% endif %}
                                {% if app.youtube is not null %}
                                    {{ self.socialmedia('youtube', app.youtube, 'fab fa-youtube') }}
                                {% endif %}
                                {% if app.spotify is not null %}
                                    {{ self.socialmedia('spotify', app.spotify, 'fab fa-spotify') }}
                                {% endif %}
                                {% if app.twitter is not null %}
                                    {{ self.socialmedia('twitter', app.twitter, 'fab fa-twitter') }}
                                {% endif %}
                            </td>
                            <td>{{ self.score(app.personalScore, '%d') }}</td>
                            <td><strong>{{ self.score(app.score) }}</strong> <small class="text-muted">({{ app.scoreCount }})</small></td>
                            <td>
                                <a class="float-end pe-2" id="a-{{ app.id }}" href="{{ path('app_band_application', {
                                    id: app.id,
                                    genres: genres,
                                    name: name,
                                    sort: sort,
                                    order: order,
                                    page: page
                                }) }}"><i class="fas fa-chevron-right"></i></a>

                                {% if is_granted('band.finals.control') and festival.bandFinalStatus == 'open' %}
                                    <a class="float-end pe-2" href="{{ path('app_band_finals_control', {
                                        festival: festival.id,
                                        vote: app.id
                                    }) }}"><i class="fas fa-play-circle text-info"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">
                                <i>Keine Bands gefunden</i>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if pages > 1 %}
            <div class="card-footer">
                <nav aria-label="Page navigation">
                    <ul class="pagination mb-0">
                        {% for p in 1..pages %}
                            <li class="page-item {%- if p == page %} active {%- endif %}">
                                <a href="{{ path('app_band_applications', {
                                    festival: festival.id,
                                    genres: genres,
                                    name: name,
                                    sort: sort,
                                    order: order,
                                    page: p
                                }) }}" class="page-link">{{ p }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('band/applications') }}
    {{ encore_entry_script_tags('band/social_media') }}
{% endblock %}
