{% extends 'base.html.twig' %}

{% macro button(score, application) %}
    <input type="radio" class="btn-check" name="score" id="score-{{ score }}" value="{{ score }}" data-application="{{ application.id }}">
    <label for="score-{{ score }}" class="btn btn-score {%- if application.score == score %} active {%- endif %}" data-score="{{ application.score }}">
        {{ score }}
    </label>
{% endmacro %}

{% import 'band/applications.html.twig' as apps %}
{% import _self as self %}

{% block title %}{{ application.name }}{% endblock %}

{% block breadcrumbs %}
    {% include 'breadcrumbs.html.twig' with {
        items: [
            {
                path: 'app_band_applications',
                pathargs: {festival: festival.id},
                name: 'Bewerbungen ' ~ festival.start|date('Y')
            },
        ],
        current: application.name
    } %}
{% endblock %}

{% block body %}
    <div class="jumbotron px-0 px-lg-4">
        <div class="card">
            <div class="card-header score-header">
                <div class="score-header-content">
                    <div class="d-flex flex-wrap justify-content-between">
                        <div class="me-2">
                            <a href="{{ path('app_band_applications', {
                                festival: festival.id,
                                genres: genres,
                                name: name,
                                sort: sort,
                                order: order,
                                page: page,
                                last: application.id
                            }) }}" class="pe-2"><i class="fas fa-chevron-left"></i></a>
                            <strong>{{ application.name }}</strong>
                        </div>
                        <div class="me-2">
                            {% for genre in application.genres %}
                                <span class="badge bg-secondary">{{ genre.name }}</span>
                            {% endfor %}
                        </div>
                        <div class="me-2">
                            {% if application.website is not null %}
                                {{ apps.socialmedia('website', application.website, 'fas fa-link') }}
                            {% endif %}
                            {% if application.facebook is not null %}
                                {{ apps.socialmedia('facebook', application.facebook, 'fab fa-facebook') }}
                            {% endif %}
                            {% if application.instagram is not null %}
                                {{ apps.socialmedia('instagram', application.instagram, 'fab fa-instagram') }}
                            {% endif %}
                            {% if application.youtube is not null %}
                                {{ apps.socialmedia('youtube', application.youtube, 'fab fa-youtube') }}
                            {% endif %}
                            {% if application.spotify is not null %}
                                {{ apps.socialmedia('spotify', application.spotify, 'fab fa-spotify') }}
                            {% endif %}
                            {% if application.twitter is not null %}
                                {{ apps.socialmedia('twitter', application.twitter, 'fab fa-twitter') }}
                            {% endif %}
                        </div>
                        <div class="me-2">
                            Momentane Note: <strong>{{ apps.score(application.total) }}</strong>
                            <small class="text-muted" id="score-count">({{ application.score_count }})</small>
                        </div>
                        <div>
                            <a href="{{ path('app_band_application_random', {festival: festival.id}) }}"><i class="fas fa-random"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between">
                    <div>
                        Herkunftsort: <a href="https://maps.google.com/?q={{ application.location }}" target="_blank" rel="noopener noreferrer">
                            <strong>{{ application.location }}</strong></a>
                    </div>
                    {% if is_granted('band.applications.personaldata') %}
                        <div>
                            Ansprechpartner: <strong>{{ application.contact_name }}</strong>
                        </div>
                        <div>
                            E-Mail: <a href="mailto:{{ application.contact_email }}">{{ application.contact_email }}</a>
                        </div>
                        <div>
                            Telefon: {{ application.contact_phone ?? '-' }}
                        </div>
                    {% endif %}
                </div>
                <hr>
                {{ application.application|raw }}
                <hr>
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="me-2">
                        Anzahl Personen: <strong>{{ application.members }}</strong>
                    </div>
                    <div class="me-2">
                        Geschlechter: <strong>{{ ('band.apply.genders.' ~ application.genders ?? 'placeholder') | trans }}</strong>
                    </div>
                    {% if is_granted('band.applications.fee') %}
                        <div class="me-2">
                            Gage: <strong>{{ application.fee }}</strong>
                        </div>
                    {% endif %}
                    <div class="me-2">
                        Licht-/Tontechniker benötigt: <strong>{{ application.technician ? 'Ja' : 'Nein' }}</strong>
                    </div>
                    <div>
                        Unterkunft benötigt: <strong>{{ application.accommodation ? 'Ja' : 'Nein' }}</strong>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="me-2">
                        Beworben am: <strong>{{ application.applied_at|date('d.m.Y') }}</strong>
                    </div>
                    <div>
                        Bewerbungen aus Vorjahren:
                        {% for app in applications -%}
                            <a href="{{ path('app_band_application', {id: app.id}) }}">{{ app.start|date('Y') }}</a>
                            {%- if not loop.last -%}
                                <span class="text-muted">, </span>
                            {%- endif -%}
                        {% else %}
                            -
                        {%- endfor -%}
                    </div>
                </div>
            </div>
        </div>

        {% include 'band/mediapreview.html.twig' %}

        {% if date() <= festival.bandRatingEnd %}
            <div class="card mt-3">
                <div class="card-header">
                    <span class="me-2"><strong>Deine Bewertung</strong>:</span>
                    <div class="btn-group">
                        {{ self.button(1, application) }}
                        {{ self.button(2, application) }}
                        {{ self.button(3, application) }}
                        {{ self.button(4, application) }}
                        {{ self.button(5, application) }}
                        {{ self.button(6, application) }}
                    </div>
                    {% if application.favorite == null %}
                        <button id="favorite" class="btn btn-light" data-application="{{ application.id }}">
                            <i class="fas fa-star text-muted"></i>
                        </button>
                    {% else %}
                        <button id="favorite" class="btn btn-warning" data-application="{{ application.id }}" data-selected="true">
                            <i class="fas fa-star"></i>
                        </button>
                    {% endif %}
                    <a id="popover-score" tabindex="-1" role="button" class="btn btn-link float-end p-0" data-bs-toggle="popover"
                       data-bs-content="Bewertung in Schulnoten von 1 (sehr gut) bis 6 (ungenügend).<br>Bitte bewerte nicht nur nach deinem eigenen Musikgeschmack, sondern überlege vor allem, ob die Band zu unserem Festival passt.<br>Außerdem ist die Reichweite auf Social Media Kanälen ein wichtiges Merkmal dafür, wie viele Gäste uns die Band bringt.">
                        <i class="fas fa-info-circle"></i></a>
                    {% if last_score is not null %}
                        <div class="mt-2">
                            Deine Bewertung der letzten Bewerbung:&nbsp;&nbsp;&nbsp;{{ last_score.score }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% elseif is_granted('band.finals.control') and festival.bandFinalStatus == 'open' %}
            <div class="card mt-3">
                <div class="card-header text-center">
                    <a class="btn btn-info" href="{{ path('app_band_finals_control', {
                        festival: festival.id,
                        vote: application.id
                    }) }}"><i class="fas fa-play-circle"></i> Finalbewertung starten</a>
                </div>
            </div>
        {% endif %}

        <div class="card mt-3">
            <div class="card-header">
                <strong>Kommentare</strong>
            </div>
            <div class="card-body">
                <div id="discussion" data-application="{{ application.id }}" data-authorid="{{ user.id }}" data-authorname="{{ user.name }}"
                     data-authoremail="{{ user.email }}">
                    <div class="d-flex justify-content-center" id="comment-loader">
                        <div class="spinner-border text-muted" style="width: 3rem; height: 3rem;" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div id="comment-action" style="display: none">
                    <textarea id="comment-input" class="form-control" rows="2" placeholder="Kommentar"></textarea>
                    <button id="comment-send" type="button" class="btn btn-secondary mt-2">Senden</button>
                    <button id="comment-cancel" type="button" class="btn btn-outline-secondary mt-2">Abbrechen</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('band/application') }}
    {{ encore_entry_script_tags('band/popover') }}
    {{ encore_entry_script_tags('band/social_media') }}
    {% if videos[0]|length > 0 %}
        {{ encore_entry_script_tags('band/ytplayer') }}
    {% endif %}
    {% if spotify[0]|length > 0 %}
        {{ encore_entry_script_tags('band/spotify') }}
    {% endif %}
{% endblock %}
