{% set mediacount = images|length + videos[0]|length %}
{% if mediacount > 0 %}
    <div class="card mt-3" id="mediapreview">
        <div class="card-header">
            <strong>{% trans %} band.apply.mediapreview.label {% endtrans %}</strong>
        </div>
        <div class="card-body bg-dark p-0">
            <div class="carousel slide bg-dark" id="carousel-image" data-bs-ride="false">
                {% if mediacount > 1 %}
                    <div class="carousel-indicators">
                        {% for image in images %}
                            <button type="button" data-bs-target="#carousel-image" data-bs-slide-to="{{ loop.index0 }}"
                                    {% if loop.first %} class="active" {% endif %}></button>
                        {% endfor %}
                        {% for video in videos[0] %}
                            <button type="button" data-bs-target="#carousel-image" data-bs-slide-to="{{ images|length + loop.index0 }}"
                                    {% if images|length + loop.index0 == 0 %} class="active" {% endif %}></button>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="carousel-inner">
                    {% for image in images %}
                        <div class="carousel-item {% if loop.first %} active {% endif %}">
                            <div class="ratio ratio-16x9">
                                <a class="flex-centered" href="{{ image }}" target="_blank" rel="noopener noreferrer">
                                    <img src="{{ image }}" alt="Image {{ loop.index }} / {{ loop.length }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    {% for video in videos[0] %}
                        <div class="carousel-item {% if images|length + loop.index0 == 0 %} active {% endif %}">
                            <div class="ratio ratio-16x9">
                                <iframe class="embed-responsive-item ytplayer" id="ytplayer-{{ loop.index0 }}" type="text/html"
                                        src="https://www.youtube.com/embed/{{ videos[1][loop.index0] }}?enablejsapi=1{{ videos[2][loop.index0] }}"
                                        width="16" height="9" allowfullscreen></iframe>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if mediacount > 1 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-image" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-image" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% if spotify[0]|length > 0 %}
    <div class="card mt-3" id="spotify-preview">
        <div class="card-header">
            <strong>Spotify</strong>
        </div>
        <div class="card-body p-1 bg-dark">
            {% for song in spotify[0] %}
                <div class="spotify-embed">
                    {% set type = spotify[1][loop.index0] %}
                    {% set height = type == 'track' ? 80 : 380 %}
                    <iframe src="https://open.spotify.com/embed/{{ type }}/{{ spotify[2][loop.index0] }}" frameborder="0"
                            allowtransparency="true" allow="encrypted-media" width="340" height="{{ height }}"></iframe>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}