{% if volunteer.status.value == 'accepted' %}
    <i class="fas fa-check-circle text-success"></i>
{% elseif volunteer.status.value == 'outdated' %}
    <i class="fas fa-minus-circle text-muted"></i>
{% elseif volunteer.status.value == 'denied' %}
    <i class="fas fa-times-circle text-danger"></i>
{% else %}
    <i class="fas fa-dot-circle text-warning"></i>
{% endif %}