// Variable Overrides

@import "variables";

// Bootstrap Sass Imports
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-select/sass/bootstrap-select";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";

html {
  position: relative;
  min-height: 100%;
}

.app-header {
  background-color: $primary;
  box-shadow: 0 2px 4px darken($primary, 15%);
}

.app-footer {
  background-color: $secondary;
  box-shadow: 0 2px 4px darken($secondary, 15%);
}

main {
  /* Margin bottom by footer heigt + a little bit */
  margin-bottom: 80px;
}

body {
  background: url($background-image) no-repeat center center fixed;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(233, 233, 233, 0.8);
  padding: 1.5rem 1.5rem;
  border-radius: .3rem;
}

@include media-breakpoint-down(xl) {
  .container {
    max-width: 100%;
    padding: 0;
  }
  .jumbotron {
    border-radius: 0;
  }
}

.dropdown-menu {
  z-index: 1080;
}

// dont underline links at all
a.no-underline {
  text-decoration: none !important;
}

// just underline links when hovered
a.hover-underline:not(:hover) {
  text-decoration: none !important;
}

%fas-float-right {
  @extend %fa-icon;
  @extend .fas;
  float: right;
  vertical-align: middle;
  line-height: inherit;
}

// breadcrumb

.breadcrumb {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

// border-radius

.border-right-radius-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.border-left-radius-0 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// legends

legend.col-form-label {
  padding: 0;
  margin-bottom: 0.5rem;
}

legend.required::after, label.required::after {
  content: " *";
  color: $danger;
  font-weight: 500;
}

label.custom-control-label, label.custom-control-label::after {
  cursor: pointer;
}

// utility

.textarea-fixed {
  resize: none;
}

a.disabled {
  color: $text-muted;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

a.disabled:hover {
  color: $text-muted;
  text-decoration: none;
}

a.icon {
  color: $primary;
  transition: color 0.2s ease;
}

a.icon:hover {
  text-decoration: none;
  color: $dark;
}

a img {
  cursor: zoom-in;
}

.ratio img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// tables in cards

.card table tbody th {
  padding-left: 1.25rem;
}

// table sortable head
th.sortable {
  cursor: pointer;
}

th.sortable::after {
  @extend %fas-float-right;

  content: fa-content($fa-var-sort);
  color: $text-muted;
}

th.sortable:hover::after {
  color: $primary;
}

th.sortable.asc::after {
  @extend %fas-float-right;

  content: fa-content($fa-var-sort-up);
  color: black;
}

th.sortable.asc:hover::after {
  color: $primary;
}

th.sortable.desc::after {
  @extend %fas-float-right;

  content: fa-content($fa-var-sort-down);
  color: black;
}

th.sortable.desc:hover::after {
  color: $primary;
}

// extra small form-control

.form-control-xs {
  height: calc(1em + 0.5rem + 2px);
  padding: 0.125rem 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25;
  border-radius: 0.15rem;
  width: 100%;
}

// applictions
tr[data-application] {
  cursor: pointer;
}

tr[data-application]:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

// nav pages

.nav-page {
  background-color: $nav-tabs-link-active-bg;
  border-bottom: $nav-tabs-border-width solid;
  border-color: $nav-tabs-link-active-border-color;
}

@include media-breakpoint-up(xl) {
  .nav-page {
    border-left: $nav-tabs-border-width solid;
    border-right: $nav-tabs-border-width solid;
    border-bottom: $nav-tabs-border-width solid;
    border-color: $nav-tabs-link-active-border-color;
    border-bottom-left-radius: $nav-tabs-border-radius;
    border-bottom-right-radius: $nav-tabs-border-radius;
    border-top-right-radius: $nav-tabs-border-radius;
  }
}

// carousel control

.carousel-control-next, .carousel-control-prev {
  height: 20%;
  width: 10%;
  margin-top: auto;
  margin-bottom: auto;
}

// spotify embeds

.spotify-embed {
  background: $dark;

  &:not(:last-of-type) {
    margin-bottom: 0.25rem;
  }

  iframe {
    display: block;
    transition: opacity 0.05s;

    .js & {
      opacity: 0;

      &.loaded {
        opacity: 1;
      }
    }
  }
}

// scores

.score-header {
  @extend .bg-light;
}

.score-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

@include media-breakpoint-up(lg) {
  .score-header.fixed .score-header-content {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@include media-breakpoint-up(xl) {
  .score-header.fixed .score-header-content {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}

.score-header.fixed .score-header-content {
  @extend .container;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-score {
  color: #fff;
  background-color: #17a2b8;
}

.btn-score:hover:not(:disabled):not(.disabled) {
  color: #000;
}

.btn-score[data-score="1"] {
  background-color: #009b00;
}

.btn-score[data-score="1"].active {
  background-color: #007800;
}

.btn-score[data-score="2"] {
  background-color: #50a000;
}

.btn-score[data-score="2"].active {
  background-color: #328200;
}

.btn-score[data-score="3"] {
  background-color: #96aa00;
}

.btn-score[data-score="3"].active {
  background-color: #788c00;
}

.btn-score[data-score="4"] {
  background-color: #b49600;
}

.btn-score[data-score="4"].active {
  background-color: #a07800;
}

.btn-score[data-score="5"] {
  background-color: #b46400;
}

.btn-score[data-score="5"].active {
  background-color: #965000;
}

.btn-score[data-score="6"] {
  background-color: #c83c00;
}

.btn-score[data-score="6"].active {
  background-color: #be0a00;
}

span[data-score="1"] {
  color: #007800;
}

span[data-score="2"] {
  color: #328200;
}

span[data-score="3"] {
  color: #788c00;
}

span[data-score="4"] {
  color: #a07800;
}

span[data-score="5"] {
  color: #965000;
}

span[data-score="6"] {
  color: #be0a00;
}

// comments

.comment {
  border: 1px solid #e1e1e1;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 0 0.5rem 0.5rem 0.5rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.5rem;
  width: fit-content;
  min-width: 20%;
  max-width: 95%;
  float: left;
  clear: both;
}

.comment.self {
  background-color: rgba(0, 230, 230, 0.1);
  border-radius: 0.5rem 0 0.5rem 0.5rem;
  float: right;
}

.comment.edit {
  background-color: rgba(230, 230, 0, 0.1);
  border-color: rgba(230, 230, 0, 1);
}

#comment-empty {
  font-style: italic;
  margin: 0.5rem 0 1rem 0.2rem;
}

.comment-name {
  font-weight: bold;
  font-size: small;
  color: $info;
}

.comment-edit {
  @extend %fas-float-right;

  color: $text-muted;
  cursor: pointer;
  margin-left: .25rem;
}

.comment-name::after {
  content: "\A";
  white-space: pre;
}

.comment-time {
  float: right;
  font-size: small;
  color: $text-muted;
  margin-left: .5rem;
  margin-top: .2rem;
}

// whole page overlay
// TODO: do we need this anymore?

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 15px;
}
