// primary color
$primary: #25648d;
// other colors are the default bootstrap colors, but could be changed here
//$secondary:     $gray-600;
//$success:       $green;
//$info:          $cyan;
//$warning:       $yellow;
//$danger:        $red;
//$light:         $gray-100;
//$dark:          $gray-900;

// path to the background image (relative from here)
$background-image: '../images/magnus-lunay-LHR6tUw8N34-unsplash.jpg';
