{% extends 'base_sidebar.html.twig' %}

{% block title %}Aufbau{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('shift/shift') }}
{% endblock %}

{% block body %}
    <div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            {% for area in areas %}
                <li class="nav-item">
                    <a href="{{ path(area.name == 'Aufbau' ? 'app_shift_construction' : 'app_shift_dismantling') }}" class="nav-link {{ active == area.id ? 'active' }}">
                        {{ area.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="card-body">
        <div class="shift-table">
            {% for day in days %}
                <div class="shift-table-time" style="grid-column-start: {{ loop.index }}; grid-row-start: 1">
                    {{ day.shift.name }} {{ day.shift.start|date('d.m.') }}
                    <span class="badge rounded-pill bg-dark float-end mt-1 me-2">{{ day.count }}</span>
                </div>
                {% set i = 0 %}
                {% for hour, volunteers in day.volunteers %}
                    {% set i = i + volunteers.coming|length - volunteers.going|length %}
                    <div class="shift-table-construction" style="grid-column-start: {{ loop.parent.loop.index }}; grid-row-start: {{ loop.index + 1 }}">
                        <span class="text-muted">{{ hour|format('%02d') }} Uhr</span> <span class="badge rounded-pill bg-info float-end mt-1 me-2">{{ i }}</span><br>
                        {% if volunteers.coming|length > 0 %}
                            <span class="text-success" title="{{ volunteers.coming|map(v => "#{v.volunteer.firstname} #{v.volunteer.surname}")|join(', ') }}">
                                <i class="fas fa-arrow-right"></i> <strong>{{ volunteers.coming|length }}</strong>
                            </span>
                            <br>
                        {% endif %}
                        {% if volunteers.going|length > 0 %}
                            <span class="text-danger" title="{{ volunteers.going|map(v => "#{v.volunteer.firstname} #{v.volunteer.surname}")|join(', ') }}">
                                <i class="fas fa-arrow-left"></i> <strong>{{ volunteers.going|length }}</strong>
                            </span>
                            <br>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock %}