{% extends 'base_sidebar.html.twig' %}

{% block title %}Schicht bearbeiten{% endblock %}

{% set sidebar_parent = {
    route: 'app_shift',
    label: 'Schicht löschen',
} %}

{% block body %}
    <div class="card">
        <div class="card-header">
            Schicht löschen
        </div>
        <div class="card-body">
            <div class="modal-body">
                Schicht {{ shift.id }}, {{ shift.day.date|date('l') }} {{ shift.start|date('H:i') }}-{{ shift.end|date('H:i') }} Uhr wirklich löschen?
            </div>
        </div>
        <div class="card-footer">
            {{ form_start(form) }}
            <a href="{{ path('app_shift', {festival: shift.day.festival.id, area: shift.area.id}) }}" class="btn btn-secondary">Abbrechen</a>
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}