{% extends 'base_sidebar.html.twig' %}

{% block title %}Schichtpläne{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('shift/shift') }}
{% endblock %}

{% macro volunteerSelect(shift, sv) %}
    {% set selected = sv ? sv.volunteer : null %}
    <br/>
    <div class="w-100 {{ is_granted('shift.edit', shift) ? 'shift-table-volunteer' }}" data-shift="{{ shift.id }}"
         data-selected="{{ selected ? selected.id : null }}">
        {% if selected is not null %}
            {{ selected.firstname }} {{ selected.surname }}
            {# TODO: the next two lines create a lot of DB queries. Optimize this #}
            <span class="badge rounded-pill bg-dark">{{ selected.getOtherShifts(shift)|length }}</span>
            {% if selected.hasConflictingShift(shift) %}
                <i class="fas fa-exclamation-triangle text-danger"></i>
            {% endif %}
            {% if sv.confirmed %}
                <i class="fas fa-lock text-success"></i>
            {% endif %}
        {% else %}
            <i>Frei</i>
        {% endif %}
    </div>
{% endmacro %}

{% import _self as self %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                {% for area in areas %}
                    <li class="nav-item">
                        <a href="{{ path('app_shift', {festival: festival.id, area: area.id}) }}" class="nav-link {{ active.id == area.id ? 'active' }}">
                            {{ area.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-body">
            {% if is_granted('shift.edit', active) %}
                <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal-newshift">
                    <i class="fas fa-plus-circle"></i> Neue Schicht
                </button>
            {% endif %}
            <a class="btn btn-outline-info" href="{{ path('app_shift_print', {festival: festival.id, area: active.id}) }}">
                <i class="fas fa-print"></i> Druck
            </a>
            {% for day in shifts %}
                <h6 class="mt-3">{{ day.meta.day }}</h6>
                <div class="shift-table">
                    {% set start = day.meta.start.getTimestamp() / 3600 %}
                    {% set end = day.meta.end.getTimestamp() / 3600 - 1 %}
                    {% for i in start..end %}
                        <div class="shift-table-time"
                             style="grid-column-start: {{ (i - start) * day.meta.size + 1 }}; grid-column-end: span {{ day.meta.size }}; grid-row-start: 1">
                            {{ date(i * 3600)|date('H:i') }}
                        </div>
                    {% endfor %}
                    {% for row in day.rows %}
                        {% set r = loop.index + 1 %}
                        {% for shift in row %}
                            <div class="shift-table-shift" data-shift="{{ shift.id }}"
                                 style="grid-column-start: {{ shift.getGridStart(day.meta.start, day.meta.step) }}; grid-column-end: span {{ shift.getGridSpan(day.meta.step) }}; grid-row-start: {{ r }}">
                                <small class="text-muted">{{ shift.start|date('H:i') }} - {{ shift.end|date('H:i') }} Uhr</small>
                                {% if shift.name is not empty %}
                                    {{ shift.name }}
                                {% endif %}
                                {% if is_granted('shift.edit', shift) %}
                                    <small class="float-end shift-table-buttons">
                                        <a href="{{ path('app_shift_edit', {shift: shift.id}) }}">
                                            <i class="fas fa-pen text-warning me-2"></i></a>
                                        <a href="{{ path('app_shift_delete', {shift: shift.id}) }}">
                                            <i class="fas fa-minus-circle text-danger"></i></a>
                                    </small>
                                {% endif %}
                                {% for sv in shift.volunteers %}
                                    {{ self.volunteerSelect(shift, sv) }}
                                {% else %}
                                    {{ self.volunteerSelect(shift, null) }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <ul class="nav">
                <li class="nav-item"><span class="nav-link disabled">Andere Schichtpläne:</span></li>
                {% for f in other_festivals %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_shift', {festival: f.id, area: active.id}) }}">{{ f.start|date('Y') }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="d-none">
        {% for day in days %}
            <div id="festival-day-{{ day.id }}" data-year="{{ day.date|date('Y') }}" data-month="{{ day.date|date('m') }}"
                 data-day="{{ day.date|date('d') }}"></div>
        {% endfor %}
        <select class="form-control form-control-xs" id="shift-volunteer-select">
            <option value="">--</option>
            {% for vol in volunteers %}
                <option value="{{ vol.id }}">{{ vol.firstname }} {{ vol.surname }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="modal fade" id="modal-newshift" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Neue Schicht erstellen</h5>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_row(form.area) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.day) }}
                    {{ form_row(form.start) }}
                    {{ form_row(form.end) }}
                    {{ form_row(form.volunteer) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if is_granted('shift.edit', active) %}
        {{ encore_entry_script_tags('shift/shift') }}
    {% endif %}
{% endblock %}