<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Schichtpl&auml;ne</title>
    {% for file in encore_entry_css_files('shift/shift') %}
        <link href="{{ absolute_url(asset(file)) }}" rel="stylesheet">
    {% endfor %}
</head>
<body style="background: none">
<div class="p-3 bg-white">
    {% for id, day in shifts %}
        <h1>Schichtplan {{ area.name }}</h1>
        <h3>{{ (days | filter(d => d.id == id) | first).date | date('l, d.m.Y') }}</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Schicht</th>
                <th scope="col">Helfer</th>
                <th scope="col" style="width: 15%">Gekommen</th>
                <th scope="col" style="width: 15%">Fertig</th>
            </tr>
            </thead>
            <tbody>
            {% for shift in day %}
                <tr>
                    <td>{{ shift.start|date('H:i') }} - {{ shift.end|date('H:i') }}</td>
                    <td>
                        {% for sv in shift.volunteers %}
                            {{ sv.volunteer.firstname }} {{ sv.volunteer.surname }}
                        {% endfor %}
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if not loop.last %}
            <div style="page-break-after: always"></div>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>
