{% extends 'base_sidebar.html.twig' %}

{% block title %}Meine Schichten{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('shift/shift') }}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <strong>Meine Schichten</strong>
        </div>
        <div class="card-body">
            Hier findest du alle Schichten, in die du eingeteilt wurdest. Bitte melde dich bei Fragen per E-Mail bei
            <a href="mailto:helfer@trafficjam.de">helfer@trafficjam.de</a>.
            {% if shifts|filter(s => not s.confirmed)|length > 0 %}
                <div class="alert alert-warning mt-3">
                    <i class="fas fa-exclamation-triangle text-warning"></i>
                    Bitte bestätige deine Schichten in der folgenden Liste, wenn du damit einverstanden bist.
                </div>
            {% endif %}
            <table class="table table-sm table-striped mt-2">
                <thead>
                <tr>
                    <th>Tag</th>
                    <th>Bereich</th>
                    <th colspan="2">Uhrzeit</th>
                    <th colspan="2">Bestätigen</th>
                </tr>
                </thead>
                <tbody>
                {% for sv in shifts %}
                    {% set shift = sv.shift %}
                    <tr>
                        <td>{{ shift.day.date|date('D d.m.') }}</td>
                        <td>{{ shift.area.name }}</td>
                        <td>
                            {{ shift.start|date_modify('-15 minutes')|date('H:i') }}-{{ shift.end|date('H:i') }} Uhr
                        </td>
                        <td>
                            {% if shift.start > date() %}
                                {% set until = ((shift.start.getTimestamp() - date().getTimestamp()) / 60) - 15 %}
                                {% if until >= 120 %}
                                    <span class="text-muted">Noch {{ (until / 60)|round }} Stunden.</span>
                                {% elseif until >= 60 %}
                                    <span class="">Noch eine Stunde.</span>
                                {% elseif until > 1 %}
                                    <strong><span class="text-success">In {{ until|round }} Minuten.</span></strong>
                                {% else %}
                                    <strong><span class="text-success">In einer Minute!</span></strong>
                                {% endif %}
                            {% elseif shift.end > date() %}
                                <strong><span class="text-info">Jetzt gerade.</span></strong>
                            {% else %}
                                <span class="text-muted">Erledigt!</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if sv.confirmed %}
                                <i class="fas fa-lock text-success"></i> Bestätigt
                            {% else %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="confirm-{{ shift.id }}-{{ volunteer.id }}"
                                           name="confirm" data-shift="{{ shift.id }}"/>
                                    <label class="form-check-label" for="confirm-{{ shift.id }}-{{ volunteer.id }}">Bestätigen</label>
                                </div>
                            {% endif %}
                        </td>
                        <td>
                            <a href="#shifts-{{ shift.area.id }}-{{ shift.day.id }}">Schichtplan anzeigen</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6"><i>Du bist noch in keine Schichten eingeteilt</i></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% for days in areas %}
        {% for shifts in days %}
            <div class="card mt-3">
                <div class="card-header">
                    <strong id="shifts-{{ shifts.area.id }}-{{ shifts.day.id }}">Schichtplan&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;{{ shifts.area.name }}
                        &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;{{ shifts.day.date|date('D d.m.') }}</strong>
                </div>
                <div class="card-body">
                    <div class="shift-table">
                        {% set meta = shifts.shifts.meta %}
                        {% set start = meta.start.getTimestamp() / 3600 %}
                        {% set end = meta.end.getTimestamp() / 3600 - 1 %}
                        {% for i in start..end %}
                            <div class="shift-table-time"
                                 style="grid-column-start: {{ (i - start) * meta.size + 1 }}; grid-column-end: span {{ meta.size }}; grid-row-start: 1">
                                {{ date(i * 3600)|date('H:i') }}
                            </div>
                        {% endfor %}
                        {% for row in shifts.shifts.rows %}
                            {% set r = loop.index + 1 %}
                            {% for shift in row %}
                                <div class="shift-table-shift" data-shift="{{ shift.id }}"
                                     style="grid-column-start: {{ shift.getGridStart(meta.start, meta.step) }}; grid-column-end: span {{ shift.getGridSpan(meta.step) }}; grid-row-start: {{ r }}">
                                    <small class="text-muted">
                                        {{ shift.start|date_modify('-15 minutes')|date('H:i') }}-{{ shift.end|date('H:i') }} Uhr
                                    </small>
                                    {% for sv in shift.volunteers %}
                                        <br>
                                        {% if sv.volunteer.id == volunteer.id %}
                                            <strong>{{ sv.volunteer.firstname }} (Du)</strong>
                                        {% else %}
                                            {{ sv.volunteer.firstname }}
                                        {% endif %}
                                    {% else %}
                                        <br><i>Frei</i>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('shift/self') }}
{% endblock %}
