<template>
  <div ref="modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Band hinzufügen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-lg-6">
              <label class="form-label required">Name</label>
              <input type="text" class="form-control" placeholder="Name" v-model="name">
            </div>
            <div class="col-12 col-lg-6 mt-3 mt-lg-0">
              <label class="form-label">Ort</label>
              <input type="text" class="form-control" placeholder="Ort" v-model="location">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-12 col-lg-4">
              <label class="form-label">Ansprechpartner</label>
              <input type="text" class="form-control" placeholder="Ansprechpartner" v-model="contactName">
            </div>
            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
              <label class="form-label">E-Mail</label>
              <input type="email" class="form-control" placeholder="E-Mail" v-model="contactEmail">
            </div>
            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
              <label class="form-label">Telefon</label>
              <input type="text" class="form-control" placeholder="Telefon" v-model="contactPhone">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
          <button type="submit" class="btn btn-primary" @click="save">Speichern</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {post, put} from '../api';

export default {
  name: 'band-modal',

  data() {
    return {
      modal: null,            // the bootstrap modal
      id: null,               // model data
      name: null,             // ...
      location: null,
      contactName: null,
      contactEmail: null,
      contactPhone: null
    }
  },

  mounted() {
    this.modal = bootstrap.Modal.getOrCreateInstance(this.$refs.modal);
  },

  methods: {
    show(band) {
      if (band != null) {
        this.id = band.id;
        this.name = band.name;
        this.location = band.location;
        this.contactName = band.contactName;
        this.contactEmail = band.contactEmail;
        this.contactPhone = band.contactPhone;
      } else {
        this.id = null;
        this.name = null;
        this.location = null;
        this.contactName = null;
        this.contactEmail = null;
        this.contactPhone = null;
      }

      this.modal.show();
    },

    save() {
      const data = {
        name: this.name,
        location: this.location,
        contactName: this.contactName,
        contactEmail: this.contactEmail,
        contactPhone: this.contactPhone
      }

      if (this.id == null) {
        post('bandcheckin/bands', data)
            .then(result => {
              this.$emit('input', result);
            });
      } else {
        put('bandcheckin/bands/edit/' + this.id, data)
            .then(result => {
              this.$emit('input', result);
            });
      }
      this.modal.hide();
    }
  }
}
</script>
