<template>
  <div>
    <band-modal ref="modal" @input="updateBand"></band-modal>
    <p class="fs-3 m-0 d-inline">Bands Verwalten</p>
    <a class="btn btn-sm btn-outline-success ms-3 mb-2" :href="checkinLink">
      zum Checkin
    </a>
    <button v-if="edit" class="btn btn-sm btn-outline-success ms-3 mb-2" @click="newBand">
      <i class="fas fa-plus"></i> Neue Band
    </button>
    <div class="table-responsive mt-3">
      <table class="table table-sm table-hover table-striped table-light">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Kontakt</th>
          <th scope="col">E-Mail</th>
          <th scope="col">Telefon</th>
          <th scope="col">Ort</th>
          <th v-if="edit"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="band in bandsSorted">
          <td>{{ band.name }}</td>
          <td>{{ band.contactName }}</td>
          <td>{{ band.contactEmail }}</td>
          <td>{{ band.contactPhone }}</td>
          <td>{{ band.location }}</td>
          <td v-if="edit" style="white-space: nowrap">
            <button class="btn btn-link text-muted py-0 px-1 mx-1" @click="editBand(band)"><i class="fas fa-pen"></i></button>
            <button class="btn btn-link text-danger py-0 px-1 mx-1" @click="deleteBand(band)"><i class="fas fa-trash"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import BandModal from "./band-modal";
import {del, get} from "../api";

export default {
  name: 'bands-table',

  components: {
    BandModal
  },

  props: {
    // has edit permission
    edit: {
      type: Boolean,
      required: true
    },
    // link to checkin page
    checkinLink: {
      type: String,
      required: true
    },
  },

  data() {
    return {
      bands: []
    }
  },

  computed: {
    bandsSorted() {
      return this.bands.sort((a, b) => a.name.localeCompare(b.name));
    }
  },

  async created() {
    this.bands = await get('bandcheckin/bands');
  },

  methods: {
    newBand() {
      this.$refs.modal.show();
    },

    editBand(band) {
      this.$refs.modal.show(band);
    },

    deleteBand(band) {
      del('bandcheckin/bands/delete/' + band.id)
          .then(() => {
            const index = this.bands.findIndex(b => b.id === band.id);
            if (index !== -1)
              this.$delete(this.bands, index);
          })
    },

    updateBand(band) {
      const index = this.bands.findIndex(b => b.id === band.id);
      // if entry was not found and is marked to delete, do nothing
      if (index === -1 && band.delete)
        return;
      // otherwise add entry if not found
      if (index === -1)
        this.bands.push(band);
      // or delete
      else if (band.delete)
        this.$delete(this.bands, index);
      // or replace
      else this.$set(this.bands, index, band);
    }
  }
}
</script>
