<template>
  <div>
    <travelparty-modal ref="modal" :festival="festival" :days="days" :bands="bands" :festival-guestlist="guestlist"
                       @input="updateParty"></travelparty-modal>
    <p class="fs-3 m-0 d-inline">Band Checkin</p>
    <a class="btn btn-sm btn-outline-success ms-3 mb-2" :href="bandLink">
      Bands verwalten
    </a>
    <button v-if="edit" class="btn btn-sm btn-outline-success ms-3 mb-2" @click="newParty">
      <i class="fas fa-plus"></i> Neue Travel Party
    </button>
    <h1 class="display-6 m-0 float-end">{{ time ? time.format() : '' }}</h1>
    <div class="table-responsive mt-3">
      <table class="table table-sm table-hover table-light">
        <thead>
        <tr>
          <th scope="col">Band</th>
          <th scope="col">Tag</th>
          <th scope="col">Fahrzeug</th>
          <th scope="col">Stagetime</th>
          <th scope="col" colspan="2">Travel Party</th>
          <td>Plus</td>
          <td v-for="day in days">{{ getDayLabel(day.date) }}</td>
          <td>Camping</td>
          <td>Checkin</td>
          <td>Backstage</td>
          <th v-if="edit"></th>
        </tr>
        </thead>
        <tbody v-for="party in travelPartiesSorted" :key="party.id">
        <tr :class="getPartyColor(party)">
          <td>{{ party.band.name }}</td>
          <td>{{ getDayLabel(days.find(d => d.id === party.day.id).date) }}</td>
          <td>{{ party.vehicle }}</td>
          <td>{{ getTime(party.stageTime) }}</td>
          <td :colspan="days.length + 4" class="text-center"><i>Band einchecken:</i></td>
          <td colspan="2">
            <button v-if="!party.checkedIn" class="btn btn-sm btn-success form-control" @click="checkinParty(party)" :disabled="!canCheckinParty">
              Band Checkin
            </button>
            <button v-else class="btn btn-sm btn-outline-success form-control" disabled>Band ist Anwesend</button>
          </td>
          <td v-if="edit" style="white-space: nowrap">
            <button class="btn btn-link text-muted py-0 px-1 mx-1" @click="editParty(party)"><i class="fas fa-pen"></i></button>
            <button class="btn btn-link text-danger py-0 px-1 mx-1" @click="deleteParty(party)"><i class="fas fa-trash"></i></button>
          </td>
        </tr>
        <guestlist-table-row v-for="entry in sortPartyGuestlist(party)" :key="entry.id" :days="days" :entry="entry"
                             :paddingStart="4" :padding-end="1" :show-origin="false"
                             :can-checkin="canCheckinGuestlist" :backstage="backstage" :edit="false"></guestlist-table-row>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import {del, get, openSSE, put} from '../api';
import {getDayLabel} from './util';
import TravelpartyModal from './travelparty-modal';
import GuestlistTableRow from './guestlist-table-row';

export default {
  name: 'checkin-table',

  components: {
    GuestlistTableRow,
    TravelpartyModal
  },

  props: {
    // id of current festival
    festival: {
      type: Number,
      required: true
    },
    // festival days to display
    days: {
      type: Array,
      required: true
    },
    // has checkin permission
    canCheckinParty: {
      type: Boolean,
      required: true
    },
    // has checkin permission
    canCheckinGuestlist: {
      type: Boolean,
      required: true
    },
    // has edit permission
    edit: {
      type: Boolean,
      required: true
    },
    // has backstage permission
    backstage: {
      type: Boolean,
      required: true
    },
    // link to band page
    bandLink: {
      type: String,
      required: true
    }
  },

  data() {
    return {
      modal: null,            // the bootstrap modal
      bands: [],              // all bands
      travelParties: [],      // all travel parties
      guestlist: [],          // guestlist entries
      time: null,             // live clock
      interval: null
    }
  },

  computed: {
    travelPartiesSorted() {
      return this.travelParties.sort((a, b) => {
        if (a.checkedIn && !b.checkedIn)
          return 1;
        if (!a.checkedIn && b.checkedIn)
          return -1;
        return Date.parse(a.stageTime) - Date.parse(b.stageTime);
      });
    }
  },

  async created() {
    // fetch bands
    this.bands = await get('bandcheckin/bands');

    // fetch parties and listen to changes via mercure
    await openSSE('bandcheckin/parties/' + this.festival, 'bandcheckin/parties/' + this.festival, message => {
      if (Array.isArray(message)) {
        // replace all values if the message was an array (e.g. initial fetch on page load)
        this.travelParties = message;
      } else {
        // update or add individual party if message is a single object
        this.updateParty(message);
      }
    });

    // fetch guestlist and listen to changes via mercure
    await openSSE('guestlist/' + this.festival, 'guestlist/' + this.festival, message => {
      if (Array.isArray(message)) {
        // replace all values if the message was an array (e.g. initial fetch on page load)
        this.guestlist = message;
      } else {
        // update or add individual entry if message is a single object
        this.updateEntry(message);
      }
    });

    // update time every second
    this.interval = setInterval(() => {
      this.time = Intl.DateTimeFormat(navigator.language, {
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric'
      });
    }, 1000);
  },

  beforeDestroy() {
    // prevent memory leak
    clearInterval(this.interval);
  },

  methods: {
    getDayLabel,
    getTime(dateString) {
      return new Date(dateString).toLocaleTimeString('de-DE', {})
    },

    sortPartyGuestlist(party) {
      // sort guestlist in a new array to prevent mutating the original one
      return party.guestlist.slice().sort((a, b) => a.name.localeCompare(b.name));
    },

    getPartyColor(party) {
      // all ok if checked in
      if (party.checkedIn)
        return 'table-success';
      // calculate time left
      const diff = Date.parse(party.stageTime) - Date.now();
      // danger if within next hour
      if (diff <= 60 * 60 * 1000)
        return 'table-danger';
      // warn if within next 90 minutes
      if (diff <= 90 * 60 * 1000)
        return 'table-warning';
      return '';
    },

    /**
     * Opens the modal (empty)
     */
    newParty() {
      this.$refs.modal.show()
    },

    /**
     * Opens the modal with an existing party
     *
     * @param party the party to edit
     */
    editParty(party) {
      this.$refs.modal.show(party)
    },

    /**
     * Sends a DELETE request for the given party.
     *
     * @param party party to delete
     */
    deleteParty(party) {
      del('bandcheckin/parties/delete/' + party.id)
          .then(() => {
            const index = this.travelParties.findIndex(p => p.id === party.id);
            if (index !== -1)
              this.$delete(this.travelParties, index);
          })
    },

    /**
     * Updates a party in the DOM (adds, replaces or deletes it)
     *
     * @param party party to update
     */
    updateParty(party) {
      const index = this.travelParties.findIndex(p => p.id === party.id);
      // if entry was not found and is marked to delete, do nothing
      if (index === -1 && party.delete)
        return;
      // otherwise add entry if not found
      if (index === -1)
        this.travelParties.push(party);
      // or delete
      else if (party.delete)
        this.$delete(this.travelParties, index);
      // or replace
      else this.$set(this.travelParties, index, party);
    },

    /**
     * Sends a PUT request to check in the given party.
     *
     * @param party party to check in
     */
    checkinParty(party) {
      put('bandcheckin/checkin/' + party.id)
    },

    /**
     * Updates an entry in the DOM (adds, replaces or deletes it)
     *
     * @param entry entry to update
     */
    updateEntry(entry) {
      const index = this.guestlist.findIndex(e => e.id === entry.id);
      // if entry was not found and is marked to delete, do nothing
      if (index === -1 && entry.delete)
        return;
      // otherwise add entry if not found
      if (index === -1)
        this.guestlist.push(entry);
      // or delete
      else if (entry.delete)
        this.$delete(this.guestlist, index);
      // or replace
      else this.$set(this.guestlist, index, entry);

      // repeat for entries assigned to travel parties
      for (const party of this.travelParties) {
        const i = party.guestlist.findIndex(e => e.id === entry.id);
        if (i === -1 && entry.delete)
          continue;
        if (entry.delete)
          this.$delete(party.guestlist, i);
        else this.$set(party.guestlist, i, entry);
      }
    }
  }
}
</script>