<template>
  <tr>
    <td v-if="paddingStart" :colspan="paddingStart"></td>
    <td :class="{'text-muted': entry.checkedIn}">
      {{ entry.name }}
    </td>
    <td v-if="showOrigin" :class="{'text-muted': entry.checkedIn}">
      {{ entry.origin }}
    </td>
    <td :class="{'text-muted': entry.checkedIn}">
      {{ entry.comment }}
    </td>
    <td :class="{'text-muted': entry.checkedIn}">
      <span v-if="entry.plus">+</span>{{ entry.plus || '' }}
    </td>
    <guestlist-day-column v-for="day in days" :key="day.id" :day="day" :entry="entry"></guestlist-day-column>
    <td>
      <i v-if="entry.camping" class="fas fa-check" :class="entry.checkedIn ? 'text-muted' : 'text-success'"></i>
      <i v-else class="fas fa-times" :class="entry.checkedIn ? 'text-muted' : 'text-danger'"></i>
    </td>
    <td style="white-space: nowrap">
      <button v-if="!entry.checkedIn" class="btn btn-sm btn-info form-control" @click="checkin(entry)" :disabled="!canCheckin">
        Checkin
      </button>
      <button v-else class="btn btn-sm btn-outline-secondary form-control" disabled>Anwesend</button>
    </td>
    <td v-if="backstage && hasBackstage(entry)" style="white-space: nowrap">
      <button v-if="!entry.backstageCheckedIn" class="btn btn-sm btn-info form-control" @click="checkinBackstage(entry)">
        Checkin
      </button>
      <button v-else class="btn btn-sm btn-outline-secondary form-control" disabled>Anwesend</button>
    </td>
    <td v-else-if="backstage"></td>
    <td v-if="edit" style="white-space: nowrap">
      <button class="btn btn-link text-muted py-0 px-1 mx-1" @click="$emit('edit', entry)"><i class="fas fa-pen"></i></button>
      <button class="btn btn-link text-danger py-0 px-1 mx-1" @click="$emit('delete', entry)"><i class="fas fa-trash"></i></button>
    </td>
    <td v-if="paddingEnd" :colspan="paddingEnd"></td>
  </tr>
</template>

<script>
import {put} from "../api";
import GuestlistDayColumn from './guestlist-day-column';

export default {
  name: 'guestlist-table-row',

  components: {
    GuestlistDayColumn,
  },

  props: {
    entry: {
      type: Object,
      required: true
    },

    days: {
      type: Array,
      required: true
    },

    paddingStart: {
      type: Number,
      required: false
    },

    paddingEnd: {
      type: Number,
      required: false
    },

    showOrigin: {
      type: Boolean,
      default: true
    },
    canCheckin: Boolean,
    backstage: Boolean,
    edit: Boolean,
  },

  methods: {
    /**
     * Checks if an entry has any backstage access.
     *
     * @param entry guestlist entry
     * @returns {boolean} true if any day of the entry has backstage access
     */
    hasBackstage(entry) {
      return entry.days.find(day => day.backstage) !== undefined;
    },

    /**
     * Sends a PUT request to check in the given entry.
     *
     * @param entry entry to check in
     */
    checkin(entry) {
      put('guestlist/checkin/' + entry.id);
    },

    /**
     * Sends a PUT request to check in the given entry (backstage).
     *
     * @param entry entry to check in
     */
    checkinBackstage(entry) {
      put('guestlist/checkin/backstage/' + entry.id);
    }
  }
}
</script>
