<template>
  <td>
    <div v-if="guestlistDay !== undefined">
      <i class="fas fa-check" :class="entry.checkedIn ? 'text-muted' : 'text-success'"></i>
      <i v-if="guestlistDay.backstage" class="fas fa-star ms-2" :class="entry.checkedIn ? 'text-muted' : 'text-warning'"></i>
    </div>
    <i v-else class="fas fa-times" :class="entry.checkedIn ? 'text-muted' : 'text-danger'"></i>
  </td>
</template>

<script>
export default {
  name: 'guestlist-day-column',

  props: {
    day: {
      type: Object,
      required: true
    },
    entry: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      guestlistDay: this.entry.days.find(d => d.day.id === this.day.id)
    }
  },
}
</script>
