<template>
  <div>
    <guestlist-modal :festival="festival" :days="days" @input="updateEntry" ref="modal"></guestlist-modal>
    <div class="row align-items-center">
      <div class="col-6">
        <p class="fs-3 m-0 d-inline">Gästeliste</p>
        <button v-if="edit" class="btn btn-sm btn-outline-success ms-3 mb-2" @click="newEntry"><i class="fas fa-plus"></i> Hinzufügen</button>
      </div>
      <div class="col-6">
        <div v-if="backstage" class="form-check form-switch my-auto float-end">
          <input class="form-check-input" type="checkbox" role="switch" id="showBackstageOnly" v-model="backstageOnly">
          <label class="form-check-label" for="showBackstageOnly">Nur Backstage zeigen</label>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <input class="form-control" type="search" placeholder="Suche" v-model="search" autofocus>
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-hover table-striped table-light">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Von</th>
          <th scope="col">Kommentar</th>
          <th scope="col">Plus</th>
          <th v-for="day in days">{{ getDayLabel(day.date) }}</th>
          <th scope="col">Camping</th>
          <th scope="col">Checkin</th>
          <th v-if="backstage" scope="col">Backstage</th>
          <th v-if="edit" scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <guestlist-table-row v-for="entry in guestlistFiltered" :key="entry.id" :days="days" :entry="entry"
                             :can-checkin="canCheckin" :backstage="backstage" :edit="edit"
                             @edit="editEntry" @delete="deleteEntry"></guestlist-table-row>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import {del, openSSE} from '../api';
import GuestlistModal from './guestlist-modal';
import {getDayLabel} from './util';
import GuestlistTableRow from "./guestlist-table-row";

export default {
  name: 'guestlist-table',

  components: {
    GuestlistTableRow,
    GuestlistModal
  },

  props: {
    // id of current festival
    festival: {
      type: Number,
      required: true
    },
    // festival days to display
    days: {
      type: Array,
      required: true
    },
    // has checkin permission
    canCheckin: {
      type: Boolean,
      required: true
    },
    // has edit permission
    edit: {
      type: Boolean,
      required: true
    },
    // has backstage permission
    backstage: {
      type: Boolean,
      required: true
    }
  },

  data() {
    return {
      guestlist: [],        // all guestlist entries
      search: '',           // current search
      backstageOnly: false, // show backstage only
    }
  },

  computed: {
    // the filtered guestlist entries. This gets displayed in the template.
    guestlistFiltered() {
      return this.guestlist
          // filter by search criteria
          .filter(gl =>
              // check if backstage only is switched on
              (!this.backstageOnly || gl.days.find(day => day.backstage) !== undefined) &&
              // perform search if it is not empty
              (!this.search ||
                  gl.name.toLowerCase().includes(this.search.toLowerCase()) ||
                  (gl.origin != null && gl.origin.toLowerCase().includes(this.search.toLowerCase())) ||
                  (gl.comment != null && gl.comment.toLowerCase().includes(this.search.toLowerCase())))
          )
          // sort by name
          .sort((a, b) => a.name.localeCompare(b.name));
    }
  },

  async created() {
    // fetch entries and listen to changes via mercure
    await openSSE('guestlist/' + this.festival, 'guestlist/' + this.festival, message => {
      if (Array.isArray(message)) {
        // replace all values if the message was an array (e.g. initial fetch on page load)
        this.guestlist = message;
      } else {
        // update or add individual entry if message is a single object
        this.updateEntry(message);
      }
    });
  },

  methods: {
    getDayLabel,

    /**
     * Opens the modal (empty)
     */
    newEntry() {
      this.$refs.modal.show();
    },

    /**
     * Opens the modal with an existing entry
     *
     * @param entry the entry to edit
     */
    editEntry(entry) {
      this.$refs.modal.show(entry);
    },

    /**
     * Sends a DELETE request for the given entry.
     *
     * @param entry entry to delete
     */
    deleteEntry(entry) {
      del('guestlist/delete/' + entry.id)
          .then(() => {
            const index = this.guestlist.findIndex(e => e.id === entry.id);
            if (index !== -1)
              this.$delete(this.guestlist, index);
          });
    },

    /**
     * Updates an entry in the DOM (adds, replaces or deletes it)
     *
     * @param entry entry to update
     */
    updateEntry(entry) {
      const index = this.guestlist.findIndex(e => e.id === entry.id);
      // if entry was not found and is marked to delete, do nothing
      if (index === -1 && entry.delete)
        return;
      // otherwise add entry if not found
      if (index === -1)
        this.guestlist.push(entry);
      // or delete
      else if (entry.delete)
        this.$delete(this.guestlist, index);
      // or replace
      else this.$set(this.guestlist, index, entry);
    }
  }
}
</script>
