<template>
  <div ref="modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eintrag hinzufügen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          <div class="position-absolute top-0 end-0 p-3" style="z-index: 1080">
            <div ref="toast" class="toast align-items-center border-0" :class="toastClass" role="alert">
              <div class="d-flex">
                <div class="toast-body">{{ toastMessage }}</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <div class="row mb-3">
            <div class="col-12 col-lg-4">
              <label class="form-label required">Name</label>
              <input ref="name" type="text" class="form-control" placeholder="Name" v-model.trim="name" required>
            </div>
            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
              <label class="form-label required">Von</label>
              <input ref="origin" type="text" class="form-control" placeholder="Herkunft" v-model.trim="origin" required>
            </div>
            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
              <label class="form-label required">Tage</label>
              <guestlist-day ref="days" v-for="day in guestlistDays" :key="day.id" :id="day.id" :date="day.date"
                             :allowed="day.allowed" :backstage="day.backstage" @input="updateDay"></guestlist-day>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12 col-lg-4">
              <label class="form-label">Kommentar</label>
              <input type="text" class="form-control" placeholder="Getränke, etc..." v-model.trim="comment">
            </div>
            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
              <label class="form-label">Plus</label>
              <select class="form-select" v-model.number="plus">
                <option value="0" selected></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </div>
            <div class="col-12 col-lg-4 mt-3 mt-lg-0">
              <label class="form-label">Mit Camping</label>
              <div class="form-check">
                <input type="checkbox" role="checkbox" class="form-check-input" v-model="camping" id="gl-camping">
                <label class="form-check-label" for="gl-camping">Camping</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="gl-checkin" v-model="checkedIn">
                <label class="form-check-label" for="gl-checkin">Anwesend</label>
              </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="gl-checkin-backstage"
                       v-model="backstageCheckedIn">
                <label class="form-check-label" for="gl-checkin-backstage">Backstage Anwesend</label>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
          <button v-if="id == null" type="submit" class="btn btn-primary" @click="saveAndNew">Speichern <i class="fas fa-plus"></i></button>
          <button type="submit" class="btn btn-primary" @click="saveAndClose">Speichern</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import GuestlistDay from './guestlist-day';
import {post, put} from '../api';

export default {
  name: 'guestlist-modal',

  components: {
    GuestlistDay
  },

  props: {
    // id of current festival
    festival: {
      type: Number,
      required: true
    },
    // festival days to display
    days: {
      type: Array,
      required: true
    }
  },

  data() {
    return {
      modal: null,      // the bootstrap modal
      toast: null,      // the bootstrap toast
      toastMessage: '', // toast message
      toastClass: 'bg-danger',   // toast color
      toastShown: false,
      id: null,         // model data
      name: '',         // ...
      origin: '',
      comment: '',
      plus: 0,
      camping: false,
      guestlistDays: {},
      checkedIn: false,
      backstageCheckedIn: false
    }
  },

  created() {
    for (const day of this.days) {
      this.guestlistDays[day.id] = {
        id: day.id,
        date: day.date,
        allowed: false,
        backstage: false
      }
    }
  },

  mounted() {
    this.modal = bootstrap.Modal.getOrCreateInstance(this.$refs.modal);
    this.toast = bootstrap.Toast.getOrCreateInstance(this.$refs.toast);
    this.$refs.modal.addEventListener('shown.bs.modal', () => this.focus());
  },

  updated() {
    // we are changing the toast DOM content. Show the toast only after the updates have been applied.
    if (this.toastShown) {
      this.toast.show();
      this.toastShown = false;
    }
  },

  methods: {
    /**
     * Open the modal. Sets the current values to the entry given if not null.
     *
     * @param entry entry to edit or null for new entry
     */
    show(entry) {
      if (entry != null) {
        // set values to entry that is edited
        this.id = entry.id;
        this.name = entry.name;
        this.origin = entry.origin;
        this.comment = entry.comment;
        this.plus = entry.plus;
        this.camping = entry.camping;
        for (const day in this.guestlistDays) {
          const gd = entry.days.find(d => d.day.id === parseInt(day));
          if (gd === undefined) {
            this.guestlistDays[day].allowed = false;
            this.guestlistDays[day].backstage = false;
          } else {
            this.guestlistDays[day].allowed = true;
            this.guestlistDays[day].backstage = gd.backstage;
          }
        }
        this.checkedIn = entry.checkedIn;
        this.backstageCheckedIn = entry.backstageCheckedIn;
      } else {
        // else reset id to indicate new entry
        this.id = null;
      }

      this.modal.show();
    },

    updateDay(day) {
      this.guestlistDays[day.id].allowed = day.allowed;
      this.guestlistDays[day.id].backstage = day.backstage;
    },

    focus() {
      this.$refs.name.focus();
      this.$refs.name.select();
    },

    saveAndClose() {
      if (this.save())
        this.modal.hide();
    },

    saveAndNew() {
      if (this.save()) {
        this.success('Eintrag Gespeichert');
        this.focus();
      }
    },

    /**
     * Saves the current entry if it is valid
     *
     * @returns {boolean} true if the entry was saved
     */
    save() {
      // check form is valid
      if (!this.name) {
        this.error('Name benötigt');
        this.$refs.name.focus();
        return false;
      }
      if (!this.origin) {
        this.error('Herkunft benötigt');
        this.$refs.origin.focus();
        return false;
      }

      // assemble data
      const data = {
        name: this.name,
        origin: this.origin,
        comment: this.comment,
        plus: this.plus,
        days: [],
        camping: this.camping,
        checkedIn: this.checkedIn,
        backstageCheckedIn: this.backstageCheckedIn
      };
      for (const day of Object.values(this.guestlistDays)) {
        if (day.allowed) {
          data.days.push({
            id: day.id,
            backstage: day.backstage
          });
        }
      }
      // check at least one day is selected
      if (data.days.length === 0) {
        this.error('Mindestens ein Tag benötigt');
        return false;
      }

      // use POST for new entry, otherwise PUT to edit
      if (this.id == null) {
        post('guestlist/' + this.festival, data)
            .then(result => {
              this.$emit('input', result);
            })
            .catch(error => {
              this.error(error);
            });
      } else {
        put('guestlist/edit/' + this.id, data)
            .then(result => {
              this.id = null;
              this.$emit('input', result);
            })
            .catch(error => {
              this.error(error);
            });
      }
      return true;
    },

    success(message) {
      this.toastMessage = message;
      this.toastClass = 'bg-success';
      this.toastShown = true;
    },

    error(message) {
      this.toastMessage = message;
      this.toastClass = 'bg-danger';
      this.toastShown = true;
    }
  },

  // watch checkedIn and backstageCheckedIn values
  watch: {
    checkedIn(newValue) {
      // if checkedIn was set to false, backstageCheckedIn must also be set to false
      if (!newValue)
        this.backstageCheckedIn = false;
    },

    backstageCheckedIn(newValue) {
      // if backstageCheckedIn was set to true, checkedIn must also be set to true
      if (newValue)
        this.checkedIn = true;
    }
  }
}
</script>
