<template>
  <div class="row">
    <div class="col-6">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" v-model="localAllowed" :id="'gl-day-allowed-' + id">
        <label class="form-check-label" :for="'gl-day-allowed-' + id">{{ getDayLabel(date) }}</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" v-model="localBackstage" :disabled="!localAllowed" :id="'gl-day-backstage-' + id">
        <label class="form-check-label" :for="'gl-day-backstage-' + id">Backstage</label>
      </div>
    </div>
  </div>
</template>

<script>
import {getDayLabel} from './util';

export default {
  name: 'guestlist-day',

  props: {
    id: {
      type: Number,
      required: true
    },
    date: {
      type: Number,
      required: true
    },
    allowed: {
      type: Boolean,
      required: true
    },
    backstage: {
      type: Boolean,
      required: true
    }
  },

  data() {
    return {
      localAllowed: false,
      localBackstage: false
    }
  },

  computed: {
    value() {
      return {
        id: this.id,
        allowed: this.localAllowed,
        backstage: this.localBackstage
      }
    }
  },

  watch: {
    allowed(allowed) {
      this.localAllowed = allowed;
      // also disable backstage if allowed was set to false
      if (!allowed)
        this.localBackstage = false;
    },
    backstage(backstage) {
      this.localBackstage = backstage;
    },
    localAllowed(allowed) {
      if (!allowed)
        this.localBackstage = false;
      this.$emit('input', this.value)
    },
    localBackstage() {
      this.$emit('input', this.value)
    }
  },

  methods: {
    getDayLabel
  }
}
</script>
