<template>
  <div ref="modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Travel Party hinzufügen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

          <div class="position-absolute top-0 end-0 p-3" style="z-index: 1080">
            <div ref="toast" class="toast align-items-center border-0" :class="toastClass" role="alert">
              <div class="d-flex">
                <div class="toast-body">{{ toastMessage }}</div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
              <label class="form-label">Band</label>
              <select class="form-control" v-model="band">
                <option v-for="band in bands" :key="band.id" :value="band.id">{{ band.name }}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3 mt-md-0">
              <label class="form-label">Tag</label>
              <select class="form-control" v-model="day">
                <option v-for="day in days" :key="day.id" :value="day.id">{{ getDayLabel(day.date) }}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
              <label class="form-label">Stage Time</label>
              <div class="input-group">
                <select class="form-control" v-model.number="stageTimeHour">
                  <option v-for="hour in 24" :value="hour - 1">{{ hour - 1 }}</option>
                </select>
                <span class="input-group-text">:</span>
                <select class="form-control" v-model.number="stageTimeMinute">
                  <option v-for="minute in 12" :value="(minute - 1) * 5">{{ (minute - 1) * 5 }}</option>
                </select>
                <span class="input-group-text">Uhr</span>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mt-3 mt-lg-0">
              <label class="form-label">Fahrzeug</label>
              <input type="text" class="form-control" placeholder="Fahrzeug" v-model="vehicle">
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="gl-checkin" v-model="checkedIn">
                <label class="form-check-label" for="gl-checkin">Anwesend</label>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-12">
              <label class="form-label">Gästeliste</label>
              <p class="mt-1 mb-0">Verfügbar:</p>
              <select class="form-control" :disabled="band == null" @change="addEntry">
                <option value="-1"></option>
                <option v-for="entry in availableGuestlist" :value="entry.id">
                  {{ entry.name }} ({{ entry.origin }})
                </option>
              </select>

              <p class="mt-1 mb-0">Eingetragen:</p>
              <table class="table table-sm table-hover table-striped table-light">
                <thead>
                <tr>
                  <td>Name</td>
                  <td>Herkunft</td>
                  <td>Kommentar</td>
                  <td v-for="day in days">{{ getDayLabel(day.date) }}</td>
                  <td></td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="entry in guestlist" :key="entry.id">
                  <td>{{ entry.name }}</td>
                  <td>{{ entry.origin }}</td>
                  <td>{{ entry.comment }}</td>
                  <guestlist-day-column v-for="day in days" :key="day.id" :day="day" :entry="entry"></guestlist-day-column>
                  <td>
                    <button class="btn btn-link py-0 text-danger float-end" @click="removeEntry(entry)"><i class="fas fa-minus-circle"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
          <button type="submit" class="btn btn-primary" @click="save">Speichern</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GuestlistDay from './guestlist-day';
import {getDayLabel} from './util';
import {post, put} from '../api';
import GuestlistTableRow from './guestlist-table-row';
import GuestlistDayColumn from './guestlist-day-column';

export default {
  name: 'travelparty-modal',

  components: {
    GuestlistDayColumn,
    GuestlistTableRow,
    GuestlistDay
  },

  props: {
    // id of current festival
    festival: {
      type: Number,
      required: true
    },
    // festival days to display
    days: {
      type: Array,
      required: true
    },
    // bands to select
    bands: {
      type: Array,
      required: true
    },
    // all guestlist entries of the current festival
    festivalGuestlist: {
      type: Array,
      required: true
    }
  },

  data() {
    return {
      modal: null,              // the bootstrap modal
      toast: null,              // the bootstrap toast
      toastMessage: '',         // toast message
      toastClass: 'bg-danger',  // toast color
      toastShown: false,
      id: null,                 // model data
      band: null,               // ...
      day: this.days[0].id,
      stageTimeHour: 0,
      stageTimeMinute: 0,
      vehicle: '',
      checkedIn: false,
      guestlist: []
    }
  },

  computed: {
    stageTime() {
      const stageTime = new Date(this.days.find(d => d.id === this.day).date * 1000);
      stageTime.setHours(this.stageTimeHour);
      stageTime.setMinutes(this.stageTimeMinute);
      // set actual stage time date to the next day for bands in the early morning
      // kinda hacky, I know, but does the trick for now...
      if (this.stageTimeHour <= 6)
        stageTime.setDate(stageTime.getDate() + 1);
      return stageTime;
    },

    availableGuestlist() {
      if (this.band === null)
        return this.festivalGuestlist.sort((a, b) => a.name.localeCompare(b.name));

      const bandName = this.bands.find(band => band.id === this.band).name.toLowerCase();
      return this.festivalGuestlist
          .filter(entry => this.guestlist.find(e => e.id === entry.id) === undefined)
          .sort((a, b) => {
            if (a.origin.toLowerCase() === bandName && b.origin.toLowerCase() !== bandName)
              return -1;
            if (a.origin.toLowerCase() !== bandName && b.origin.toLowerCase() === bandName)
              return 1;
            return a.name.localeCompare(b.name);
          });
    }
  },

  mounted() {
    this.modal = bootstrap.Modal.getOrCreateInstance(this.$refs.modal);
    this.toast = bootstrap.Toast.getOrCreateInstance(this.$refs.toast);
  },

  methods: {
    getDayLabel,

    /**
     * Opens the modal. Sets the current values to the party given if not null
     *
     * @param party party to edit or null for new party
     */
    show(party) {
      if (party != null) {
        // set id to indicate editing of existing party
        this.id = party.id;
        // copy values. Make sure they are decoupled from the original entries in case the user aborts after changes.
        this.band = party.band.id;
        this.day = party.day.id;
        const stageTime = new Date(party.stageTime);
        this.stageTimeMinute = stageTime.getMinutes();
        this.stageTimeHour = stageTime.getHours();
        this.vehicle = `${party.vehicle}`;
        this.checkedIn = party.checkedIn;
        this.guestlist = Array.from(party.guestlist).sort((a, b) => a.name.localeCompare(b.name));
      } else {
        // reset values for new party
        this.id = null;
        this.band = null;
        this.guestlist = [];
      }

      this.modal.show();
    },

    /**
     * Adds an entry to the current list of guestlist entries for the party.
     * Is invoked by the change event of the select element.
     *
     * @param event change event of select element
     */
    addEntry(event) {
      const entryId = parseInt(event.target.value);
      const entry = this.festivalGuestlist.find(entry => entry.id === entryId);
      if (entry !== undefined) {
        this.guestlist.push(entry);
        event.target.value = -1;
      }
    },

    /**
     * Removes an entry from the current list of guestlist entries for the party.
     *
     * @param entry the entry to remove
     */
    removeEntry(entry) {
      const index = this.guestlist.findIndex(e => e.id === entry.id);
      if (index !== -1)
        this.$delete(this.guestlist, index);
    },

    /**
     * Saves the current party if it is valid. Closes the modal afterwards
     */
    save() {
      if (this.band == null) {
        this.toastMessage = 'Bitte wähle eine Band!';
        this.toast.show();
        return;
      }
      if (this.day == null) {
        this.toastMessage = 'Bitte wähle einen Tag!';
        this.toast.show();
        return;
      }

      const data = {
        band: this.band,
        day: this.day,
        stageTime: this.stageTime.toISOString(),
        vehicle: this.vehicle,
        checkedIn: this.checkedIn,
        guestlist: this.guestlist.map(entry => entry.id)
      };

      if (this.id == null) {
        post('bandcheckin/parties/' + this.festival, data)
            .then(result => {
              this.$emit('input', result);
            });
      } else {
        put('bandcheckin/parties/edit/' + this.id, data)
            .then(result => {
              this.$emit('input', result);
            });
      }
      this.modal.hide();
    }
  }
}
</script>