{% extends 'base.html.twig' %}
{% import 'buttons.html.twig' as buttons %}

{% block title %}Traffic Jam Backstage{% endblock %}

{% block body %}
    <div class="jumbotron mt-3">
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <h2>{% trans %} index.welcome {% endtrans %}</h2>
            <p>{% trans %} index.text {% endtrans %}</p>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2 mb-sm-0">
                    {{ buttons.link(path('app_band_apply'), 'fa-file-invoice', 'band.apply.label', true) }}
                </div>
                {% set now = date() %}
                <div class="col-12 col-sm-6 col-md-4 mx-auto">
                    {% set volDisabled = festival.volunteerApplicationStart > now or festival.volunteerApplicationEnd < now %}
                    {{ buttons.link(path('app_volunteer'), 'fa-file-invoice', volunteer ? 'volunteer.show' : 'volunteer.apply', true, volDisabled) }}
                </div>
                {% if volunteer is not null %}
                    <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2">
                        {{ buttons.link(path('app_shift_self'), 'fa-calendar-alt', 'Meine Schichten') }}
                    </div>
                {% endif %}
            </div>
            {% if is_granted('orga.index') %}
                <hr>
                <h3>Orga Bereich</h3>
                <p>Hier kannst du Helfer verwalten, Schichtpläne einsehen und mehr.</p>
                <div class="row">
                    {% if is_granted('band.applications') %}
                        <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2">
                            {{ buttons.link(path('app_band_applications'), 'fa-guitar', 'Bandbewerbungen') }}
                        </div>
                    {% endif %}
                    {% if is_granted('band.finals') %}
                        <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2">
                            {{ buttons.link(path('app_band_finals'), 'fa-poll', 'Bandbewertungsnacht') }}
                        </div>
                    {% endif %}
                    {% if is_granted('band.finals.control') %}
                        <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2">
                            {{ buttons.link(path('app_band_finals_control'), 'fa-poll-h', 'Bandbewertungsnacht Steuerung') }}
                        </div>
                    {% endif %}
                    {% if is_granted('inventory.info') %}
                        <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2">
                            {{ buttons.link(path('app_inventory'), 'fa-box', 'Inventar') }}
                        </div>
                    {% endif %}
                    {% if is_granted('shift.info') %}
                        <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2">
                            {{ buttons.link(path('app_shift'), 'fa-table', 'Schichten konfigurieren') }}
                        </div>
                    {% endif %}
                    {% if is_granted('shift.info') %}
                        <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2">
                            {{ buttons.link(path('app_shift_construction'), 'fa-truck-pickup', 'Auf-/Abbau') }}
                        </div>
                    {% endif %}
                    {% if is_granted('template.list') %}
                        <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2">
                            {{ buttons.link(path('app_templates'), 'fa-envelope-open-text', 'Textvorlagen') }}
                        </div>
                    {% endif %}
                    {% if is_granted('staff.info') %}
                        <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2">
                            {{ buttons.link(path('app_staff'), 'fa-people-carry', 'Helfer & Personal') }}
                        </div>
                    {% endif %}
                    {% if is_granted('checkin.info') %}
                        <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2">
                            {{ buttons.link(path('app_checkin'), 'fa-guitar', 'Band Checkin') }}
                        </div>
                    {% endif %}
                    {% if is_granted('guestlist.info') %}
                        <div class="col-12 col-sm-6 col-md-4 mx-auto mb-2">
                            {{ buttons.link(path('app_guestlist'), 'fa-file-invoice', 'Gästeliste') }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                    <h2>{% trans %} index.welcome {% endtrans %}</h2>
                    <p>{% trans %} index.text {% endtrans %} {% trans %} index.logininfo {% endtrans %}</p>
                    <div class="flex-centered">
                        <a class="btn btn-lg btn-outline-dark btn-light" href="{{ path('app_volunteer') }}">{% trans %}volunteer.apply{% endtrans %}</a>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3 mt-3 mt-md-0 flex-centered">
                    <div>
                        <a class="btn btn-outline-dark w-100" href="{{ path('app_login') }}">{% trans %} index.login {% endtrans %}</a>
                        <a class="btn btn-dark w-100 mt-2" href="{{ path('app_register') }}">{% trans %} index.register {% endtrans %}</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
