<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Traffic Jam Open Air Backstage{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<!-- Navbar at top of screen -->
<header class="app-header">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('index') }}">Traffic Jam Open Air</a>
                <span class="navbar-text d-none d-sm-block">21.+22. {% trans %} july {% endtrans %} 2023</span>
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#headerNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="headerNavbar">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarLanguageLink" href="#" role="button" data-bs-toggle="dropdown">
                                <i class="fas fa-language me-0 me-lg-1"></i>
                                <span class="d-sm-none d-md-inline">{% trans %}language{% endtrans %}</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarLanguageLink">
                                <li>
                                    <a class="dropdown-item"
                                       href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?lang=de">
                                        Deutsch
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?lang=en">
                                        English
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarAccountLink" href="#" role="button" data-bs-toggle="dropdown">
                                    <i class="fas fa-user-circle me-0 me-lg-1"></i>
                                    <span class="d-sm-none d-md-inline">{{ app.user.email }}</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarAccountLink">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_logout') }}">
                                            <i class="fas fa-sign-out-alt"></i> {% trans %} logout {% endtrans %}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_account') }}">
                                            <i class="fas fa-cogs"></i> {% trans %} settings {% endtrans %}
                                        </a>
                                    </li>
                                    {% if is_granted('IS_IMPERSONATOR') %}
                                        <li>
                                            <a class="dropdown-item" href="{{ path('index', {_switch_user: '_exit'}) }}">
                                                <i class="fas fa-user-secret"></i> Stop impersonating
                                            </a>
                                        </li>
                                    {% elseif is_granted('security.switch_user') %}
                                        <li>
                                            <a class="dropdown-item" href="{{ path('app_switch_user') }}">
                                                <i class="fas fa-user-secret"></i> Switch User
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% elseif app.request.attributes.get('_route') not in ['index', 'app_login', 'app_register'] %}
                            <a class="btn btn-outline-light" href="{{ path('app_login') }}">{% trans %} index.login {% endtrans %}</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<!-- Main Content -->
<main class="container">
    {% block breadcrumbs %}{% endblock %}

    <noscript>
        <div class="alert alert-danger">
            <i class="fas fa-code me-2"></i>
            {% trans %} noscript {% endtrans %}
        </div>
    </noscript>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.activatedAt is null %}
        <div class="alert alert-warning mt-3" role="alert">
            <i class="fas fa-exclamation-triangle fa-2x fa-pull-left mt-2"></i>
            {%- trans %} account.activate.missing {% endtrans %}<br>
            <small class="text-muted">
                {%- trans with {
                    '%last%': app.user.activationEmailSentAt|date('d.m.Y H:i'),
                    '%email%': app.user.email
                    } %} account.activate.lastmail {% endtrans %}
                {% if app.user.activationEmailSentAt < date('-10minutes') -%}
                    <a href="{{ path('app_activate_resend') }}">&raquo; {% trans %} account.activate.resend.action {% endtrans %}</a>
                {%- endif -%}
            </small>
        </div>
    {% endif %}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible mt-3" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</main>

<!-- Footer at bottom of screen -->
<footer class="fixed-bottom app-footer">
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#footerCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="footerCollapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item me-0 me-lg-4">
                            <a class="nav-link" href="https://trafficjam.de/impressum/" target="_blank" rel="noopener noreferrer">
                                {% trans %} footer.imprint {% endtrans %}
                            </a>
                        </li>
                        <li class="nav-item me-0 me-lg-4">
                            <a class="nav-link" href="https://trafficjam.de/kontakt/" target="_blank" rel="noopener noreferrer">
                                {% trans %} footer.contact {% endtrans %}
                            </a>
                        </li>
                        <li class="nav-item me-0 me-lg-4">
                            <a class="nav-link" href="https://trafficjam.de/datenschutz/" target="_blank" rel="noopener noreferrer">
                                {% trans %} footer.privacy {% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/Edgxxar" target="_blank" rel="noopener noreferrer">Made by Jan</a>
                        </li>
                        <li class="nav-item">
                            <button id="footerHelp" class="btn btn-link nav-link" data-bs-toggle="popover" title="{% trans %} help.title {% endtrans %}"
                                    data-bs-content='{% trans %} help.text {% endtrans %} <a href="mailto:jan@schallamgnet.de">jan@schallmagnet.de</a>'>
                                <i class="fas fa-question-circle"></i>
                            </button>
                        </li>
                        {% if is_granted('admin.index') %}
                            <li class="nav-item">
                                <a href="{{ path('admin_index') }}" class="nav-link"><i class="fas fa-wrench"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
