<nav aria-label="breadcrumb">
    <ol class="breadcrumb px-2 py-1">
        <li class="breadcrumb-item">
            <small class="text-muted me-1">Navigation:</small>
            <a class="hover-underline" href="{{ path('index') }}"><i class="fas fa-xs fa-home"></i> <small>Home</small></a>
        </li>
        {% set items = items ?? [] %}
        {% for item in items %}
            <li class="breadcrumb-item"><a class="hover-underline" href="{{ path(item.path, item.pathargs ?? {}) }}"><small>{{ item.name }}</small></a></li>
        {% endfor %}
        <li class="breadcrumb-item active"><small>{{ current ?? 'Current' }}</small></li>
    </ol>
</nav>
