{% use 'bootstrap_5_layout.html.twig' %}

<!-- Selectpicker widget -->
{% block choice_widget_collapsed %}
    {% if selectpicker is defined and selectpicker %}
        <div {{ block('widget_container_attributes') }}>
            {{- form_errors(form) -}}
            <select class="form-control selectpicker" id="{{ form.vars.id }}" name="{{ form.vars.full_name }}"
                    multiple {% if form.vars.required %} required {% endif %}>
                {% for choice in form.vars.choices %}
                    <option value="{{ choice.value }}" {% if choice.data in form.vars.data %} selected {% endif %}>{{ choice.label }}</option>
                {% endfor %}
            </select>
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{% endblock %}

<!-- Switch checkboxes -->
{% block checkbox_widget %}
    {% if attr is defined and attr.class is defined %}
        <div class="form-check {{ attr.class }}">
            <input type="checkbox" class="form-check-input" {{ block('widget_attributes') }}{% if form.vars.value is defined %} value="{{ form.vars.value }}"{% endif %}{% if form.vars.checked %} checked="checked"{% endif %} />
            <label class="form-check-label" for="{{ form.vars.id }}">{{ form.vars.label | trans }}</label>
        </div>
    {% else %}
        {{- parent() -}}
    {% endif %}
{% endblock %}

{% block shift_area_widget %}
    <div {{ block('widget_container_attributes') }}>
        {{- form_errors(form) -}}
        {% for shift in form %}
            {{ form_widget(shift) }}
        {% endfor %}
    </div>
{% endblock %}

{% block shift_widget %}
    {% set hasdata = form.vars.data is not null %}
    {% set data = form.vars.data %}
    {% if not form.vars.valid %}
        <div class="row">
            <div class="col">
                {{ form_errors(form.date) }}
                {{ form_errors(form.start) }}
                {{ form_errors(form.end) }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12 {% if form.vars.flexible %} col-md-4 {% endif %}">
            <div class="form-check form-check-inline py-2">
                <input class="form-check-input" type="checkbox" id="{{ id }}_date" name="{{ full_name }}[date]" data-shift="{{ shift.id }}"
                        {{ hasdata and data.date ? 'checked' }}>
                <label class="form-check-label" for="{{ id }}_date">{{ form.date.vars.label }}</label>
            </div>
        </div>
        {% if form.vars.flexible %}
            <div class="col-6 col-md-4 d-none" data-shift="{{ shift.id }}">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">von</span>
                    <select class="form-select form-select-sm" name="{{ full_name }}[start]" id="{{ id }}_start">
                        {% for option in form.start.vars.choices %}
                            <option value="{{ option.value }}" {{ hasdata and data.start == option.value ? 'selected' }}>{{ option.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-6 col-md-4 d-none" data-shift="{{ shift.id }}">
                <div class="input-group input-group-sm">
                    <span class="input-group-text">bis</span>
                    <select class="form-select form-select-sm" name="{{ full_name }}[end]" id="{{ id }}_end">
                        {% for option in form.end.vars.choices %}
                            <option value="{{ option.value }}" {{ hasdata and data.end == option.value ? 'selected' }}>{{ option.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block band_member_widget %}
    <div class="row mb-3">
        <div class="col-12 col-md-4">
            <label for="{{ form.name.vars.id }}">Name</label>
            <input type="text" class="form-control" name="{{ form.name.vars.full_name }}" id="{{ form.name.vars.id }}"
                   value="{{ form.name.vars.value }}"/>
        </div>
        <div class="col-12 col-md-6">
            <label for="{{ form.name.vars.id }}">Kommentar</label>
            <input type="text" class="form-control" name="{{ form.comment.vars.full_name }}" id="{{ form.comment.vars.id }}"
                   value="{{ form.comment.vars.value }}"/>
        </div>
        <div class="col-12 col-md-2">
            <div class="custom-control custom-checkbox mt-4">
                <input type="checkbox" class="custom-control-input" name="{{ form.arrived.vars.full_name }}" id="{{ form.arrived.vars.id }}"
                       value="{{ form.arrived.vars.value }}">
                <label for="{{ form.arrived.vars.id }}" class="custom-control-label">Anwesend</label>
            </div>
        </div>
    </div>
{% endblock %}

{% block socialmedia_widget %}
    <div class="input-group">
        <div class="input-group-text">
            <a href="#" class="disabled" target="_blank" rel="noopener noreferrer" tabindex="-1">
                <i class="{{ form.vars.icon }}"></i>
            </a>
        </div>
        <input type="text" class="form-control" name="{{ form.vars.full_name }}" id="{{ form.vars.id }}"
               value="{{ form.vars.value }}" placeholder="{{ form.vars.placeholder }}"
               data-socialmedia="{{ form.vars.media_type }}"
               data-error="{{ form.vars.error_message }}" {% if form.vars.disabled %} disabled {% endif %}/>
    </div>
{% endblock %}

{%- block vich_image_widget -%}
    <div class="vich-image">
        {{- form_widget(form.file, {attr: {
            placeholder: image_uri|split('/')|last,
            accept: 'image/jpeg,image/png'
        }}) -}}

        {%- if image_uri -%}
            <div class="ratio ratio-16x9 bg-dark mt-2">
                <a class="flex-centered" href="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}" target="_blank" rel="noopener noreferrer">
                    <img data-form="{{ form.file.vars.id }}" src="{{ asset_helper is same as(true) ? asset(image_uri) : image_uri }}"
                         alt=""/>
                </a>
            </div>
        {%- endif -%}
        {%- if form.delete is defined -%}
            {{- form_row(form.delete, {label_attr: {class: 'checkbox-custom'}}) -}}
        {%- endif -%}
        {%- if download_uri -%}
            <a href="{{ asset_helper is same as(true) ? asset(download_uri) : download_uri }}" download>
                {{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}
            </a>
        {%- endif -%}
    </div>
{%- endblock -%}

{% block datalist_widget %}
    <input {{ block('widget_attributes') }} class="form-control" type="text" list="{{ form.vars.id }}_list" value="{{ form.vars.value }}" autocomplete="off"/>
    <datalist id="{{ form.vars.id }}_list">
        {% for data in datalist %}
            <option>{{ data }}</option>
        {% endfor %}
    </datalist>
{% endblock %}
