<li class="list-group-item border-start-0 border-end-0 {{ classes|default([])|join(' ') }}{% if first|default(false) %} border-top-0 {%- endif -%}{%- if last|default(false) %} border-bottom-0 {%- endif -%}">
    {%- block content -%}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, repellendus?
    {%- endblock -%}
</li>