{% extends 'base_sidebar.html.twig' %}

{% block title %}Gruppen{% endblock %}

{% block body %}
    <p class="fs-3 m-0">Admin Bereich: Gruppen</p>
    <a href="{{ path('admin_users') }}">Benutzer</a>
    <div id="vue-groups">
        <groups-table def="{{ groups|json_encode|escape('html_attr') }}"></groups-table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('admin/groups') }}
{% endblock %}
