{% extends 'base_sidebar.html.twig' %}
{% import 'buttons.html.twig' as buttons %}

{% block title %}Backstage Admin{% endblock %}

{% block body %}
    <p class="fs-3 m-0">Admin Bereich</p>
    <div class="row mt-3">
        {% if is_granted('admin.users') %}
            <div class="col mx-auto">
                {{ buttons.link(path('admin_users'), 'fa-user', 'Benutzer') }}
            </div>
        {% endif %}
        {% if is_granted('admin.groups') %}
            <div class="col mx-auto">
                {{ buttons.link(path('admin_groups'), 'fa-users', 'Gruppen') }}
            </div>
        {% endif %}
    </div>
{% endblock %}
