{% extends 'base_sidebar.html.twig' %}

{% block title %}Backstage Checkin{% endblock %}
{% block body %}
    <div id="vue-bands">
        <bands-table
                :edit="{{ is_granted('checkin.bands.edit') ? 'true' : 'false' }}"
                checkin-link="{{ path('app_checkin') }}"></bands-table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('guestlist/bands') }}
{% endblock %}