{% extends 'base_sidebar.html.twig' %}

{% block title %}Backstage Checkin{% endblock %}

{% block body %}
    <div id="vue-checkin">
        <checkin-table
                :festival="{{ festival.id }}"
                :days="[{{ days | map(d => {id: d.id, date: d.date.getTimestamp()} | json_encode)|join(',') }}]"
                :can-checkin-party="{{ is_granted('checkin.checkin') ? 'true' : 'false' }}"
                :can-checkin-guestlist="{{ is_granted('guestlist.checkin') ? 'true' : 'false' }}"
                :edit="{{ is_granted('checkin.edit') ? 'true' : 'false' }}"
                :backstage="{{ is_granted('guestlist.backstage') ? 'true' : 'false' }}"
                band-link="{{ path('app_checkin_bands') }}"
        ></checkin-table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('guestlist/checkin') }}
{% endblock %}