{% extends 'base_sidebar.html.twig' %}

{% block title %}Traffic Jam Gästeliste{% endblock %}

{% block body %}
    <div id="vue-guestlist">
        <guestlist-table
                :festival="{{ festival.id }}"
                :days="[{{ days | map(d => {id: d.id, date: d.date.getTimestamp()} | json_encode)|join(',') }}]"
                :can-checkin="{{ is_granted('guestlist.checkin') ? 'true' : 'false' }}"
                :edit="{{ is_granted('guestlist.edit') ? 'true' : 'false' }}"
                :backstage="{{ is_granted('guestlist.backstage') ? 'true' : 'false' }}"
        ></guestlist-table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('guestlist/guestlist') }}
{% endblock %}
