{% extends 'base_sidebar.html.twig' %}

{% block title %}E-Mail Vorlagen{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h5 class="float-start my-1">Alle Vorlagen</h5>
            {% if is_granted('template.create') %}
                <a class="btn btn-outline-success float-end" href="{{ path('app_templates_new') }}"><i class="fas fa-plus-circle"></i> Neue Vorlage</a>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th colspan="2">Beschreibung</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for template in templates %}
                        <tr data-link-target="#a-{{ template.id }}">
                            <td>{{ template.id }}</td>
                            <td>{{ template.description }}</td>
                            <td>
                                {% if is_granted('template.edit.' ~ template.id) %}
                                    <a class="btn btn-link float-end" id="a-{{ template.id }}" href="{{ path('app_templates_edit', {'id': template.id}) }}">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
