{% extends 'email/base.html.twig' %}

{% block title %}{% trans %} band.apply.email.title {% endtrans %}{% endblock %}

{% block body %}
    <p>{% trans %} email.hello {% endtrans %}</p>
    <p>{% trans %} band.apply.email.body {% endtrans %}</p>
    <p><a href="{{ link }}">{{ link }}</a></p>
    <p>{% trans %} email.outro {% endtrans %}</p>
{% endblock %}
