<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
    <!-- The character set should be utf-8 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <style>
        html {
            font-family: sans-serif;
        }

        .header {
            margin-top: 1rem;
        }

        .logo {
            max-height: 50px;
        }

        .footer {
            margin-top: 1rem;
            border-top: #d0d0d0 solid 1px;
        }
    </style>
</head>

<body>
{% apply inky_to_html|inline_css(source('@css/foundation-emails.css')) %}
    <wrapper>
        <row class="header">
        </row>
        <row>
            <columns>
                <h3 class="text-center">{% block title %}Title with many words! Hello hello yes yes.{% endblock %}</h3>
            </columns>
        </row>
        <row>
            <columns>
                {% block body %}
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda commodi consectetur consequatur corporis culpa deleniti deserunt dolorum enim expedita hic impedit ipsum maxime, modi nam nemo neque nostrum odit officiis perspiciatis provident quasi quo rerum saepe sed tempora veritatis voluptas? A ab adipisci aliquam amet, asperiores aut beatae blanditiis consectetur consequatur cupiditate dolore doloribus dolorum expedita explicabo harum impedit iste itaque iusto laborum magni maxime mollitia necessitatibus nobis, nostrum odio perferendis, qui quo rem repudiandae rerum sed similique sint temporibus totam ullam velit vitae. Adipisci distinctio doloremque excepturi facilis quos sunt tempora temporibus unde. Id quia quo temporibus ut?
                {% endblock %}
            </columns>
        </row>
        <row class="footer">
            <columns>
                <spacer size="40"></spacer>
                <p>SchallMAGNET e.V.<br/>
                    Vertreten durch den Vorstand.</p>
                <p>Kontakt: <a href="https://trafficjam.de/kontakt/">https://trafficjam.de/kontakt/</a><br/>
                    Impressum: <a href="https://trafficjam.de/impressum/">https://trafficjam.de/impressum/</a><br/>
                    Datenschutz: <a href="https://trafficjam.de/datenschutz/">https://trafficjam.de/datenschutz/</a></p>
            </columns>
        </row>
    </wrapper>
{% endapply %}
</body>
</html>
