{% extends 'email/base.txt.twig' %}

{% block title %}{% trans %} email.changeaddress.title {% endtrans %}{% endblock %}

{% block body %}
{% trans %} email.hello {% endtrans %}

{% trans %} email.changeaddress.intro {% endtrans %}</p>

{{ link }}

{% trans %} email.outro {% endtrans %}
{% endblock %}
